#themeDropdown {
    position: fixed;
    left: 20px; /* Adjust as needed */
    bottom: 20px; /* Adjust as needed */
    z-index: 9998 !important;
}

.theme-dropdown .dropdown-menu.show {
    z-index: 9999 !important;
}

html[data-bs-theme="light"] .navbar, html[data-bs-theme="light"] .nav, html[data-bs-theme="light"] .footer {
    background-color: #e1e1e1; /* Darker color for light mode */
}

html[data-bs-theme="light"] .tooltips {
    --bs-tooltip-bg: #c2c2c2 !important; /* Darker color for light mode */
}

html[data-bs-theme="dark"] .navbar, html[data-bs-theme="dark"] .nav, html[data-bs-theme="dark"] .footer {
    background-color: #343a40; /* Lighter color for dark mode */
}

html[data-bs-theme="dark"] .tooltips {
    --bs-tooltip-bg: #24282c !important; /* Lighter color for dark mode */
}

html[data-bs-theme="dark"] .footerBorder {
    border-color: #c2c2c2 !important;
}

html[data-bs-theme="light"] .footerBorder {
    border-color: #343a40 !important;
}

.tooltips > .tooltip-inner > .d-flex {
    padding: 10px;
    font-size: 1rem;
}

/* Default to vertical layout for small devices */
.navbar .d-flex {
    flex-direction: column !important;
}

@media (max-width: 660px) {
    #iiscastelli > a > img {
        height: 45px !important;
    }

    #iiscastelli > div {
        display: none !important;
    }

    #projectLogo {
        height: 45px !important;
    }

    #realBody {
        margin-top: 81px !important;
    }

    html {
        scroll-padding-top: 145px !important;
    }
}

@media (max-height: 550px) {
    #iiscastelli > a > img {
        height: 45px !important;
    }

    #projectLogo {
        height: 45px !important;
    }

    #realBody {
        margin-top: 81px !important;
    }

    html {
        scroll-padding-top: 145px !important;
    }

    @supports (-ms-ime-align: auto) {
        #iiscastelli > a > img {
            height: 45px !important;
        }
    
        #iiscastelli > div {
            display: none !important;
        }
    }
}

@supports (-ms-ime-align: auto) {
    #openOffcanvas {
        display: none !important;
    }

    #dropdownThemeDiv {
        display: none !important;
    }

    #iiscastelli > a > img {
        height: 45px !important;
    }

    #projectLogo {
        height: 45px !important;
    }

    #realBody {
        margin-top: 81px !important;
    }

    html {
        scroll-padding-top: 145px !important;
    }

    /* Hide the carousel section and associated elements */
    #carouselSection, #carouselSectionHR {
        display: none !important;
    }
}

/* Switch to horizontal layout for devices wider than 610px */
@media (min-width: 610px) {
    .navbar .d-flex {
        flex-direction: row !important;
    }
}

html[data-bs-theme="dark"] a:not(.dropdown-item) {
    color: #ffffff !important;
}

html[data-bs-theme="dark"] a:not(.dropdown-item):hover {
    color: #bbbbbb !important;
}

html[data-bs-theme="dark"] .carousel-control-prev-icon, html[data-bs-theme="dark"] .carousel-control-next-icon {
    filter: none !important;
}

html[data-bs-theme="light"] .carousel-control-prev-icon, html[data-bs-theme="light"] .carousel-control-next-icon {
    filter: invert(1) !important;
}

html[data-bs-theme="light"] a.btn-primary, html[data-bs-theme="light"] a.btn-secondary {
    color: #ffffff !important;
}

html[data-bs-theme="light"] a.btn-primary:hover, html[data-bs-theme="light"] a.btn-secondary:hover {
    color: #bbbbbb !important;
}

html[data-bs-theme="light"] a {
    color: #3d3d3d !important;
}

html[data-bs-theme="light"] a:hover {
    color: #3d3d3d !important;
}

.offcanvas-body a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.offcanvas-body a .bi {
    margin-right: 10px;
}

.offcanvas-body ul li a {
    font-size: 1.25rem; /* Increase font size */
    padding: 0.75rem; /* Add padding */
    display: block; /* Ensure links are block level */
}

html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
    margin: 20px;
    width: 85% !important;
    margin: auto;
}

.italic {
    font-style: italic;
}

.bold, h5 {
    font-weight: bold;
}

.extrabold {
    font-weight: 800;
}

.underline {
    text-decoration: underline;
}

.strikethrough {
    text-decoration: line-through;
    text-decoration-thickness: 20px; /* Adjust thickness as needed */
}

.underline-strikethrough {
    text-decoration: underline line-through;
}

.boxino {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    border-radius: 20px;
}

html[data-bs-theme="dark"] .boxino {
    background-color: #343a40;
}

html[data-bs-theme="light"] .boxino {
    background-color: #e1e1e1;
}

.boxino > div, .boxino > p {
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 30px;
    margin-right: 30px;
}

.img-left {
    margin-right: 1rem;
}

.img-right {
    margin-left: 1rem;
}

.sponsor img {
    max-width: 150px; /* Adjust as needed */
    height: auto;
}

.sponsor .carousel img {
    max-width: none;
    /* margin-top: 1.5rem !important; */
    max-height: 550px !important;
    object-fit: contain;
}

.img-img {
    max-width: 200px !important;
}

.img-bigimg {
    max-width: 300px !important;
}

.img-biggerimg {
    max-width: 400px !important;
}

.img-biggestimg {
    max-width: 600px !important;
}

html[data-bs-theme="dark"] .img-addbg {
    background-color: #adadad;
    padding: 15px;
}

.sponsor > div {
    flex: 1;
    width: 100% !important;
}

#welcomeUsers {
    width: auto !important;
    margin-left: 25px !important;
    margin-right: 25px !important;
}

#germanSponsor {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    gap: 20px; /* This adds space between the logos */
    flex-grow: 0;
}

.logo-kempten, .logo-erasmus {
    max-width: 250px !important;
    width: auto;
    object-fit: contain;
}

#realBody {
    margin-top: 111px;
}

html {
    scroll-padding-top: 175px;
}

.gruppoPulsantiIndex {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 20px;
}

#fotoMisureEVideo {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#fotoMisureEVideo > img {
    max-width: 100% !important;
}

#vidYTGdR {
    width: 100% !important;
    /* margin-bottom: 25px !important; */
    /* align-self: center; */
}

#vidYT2 {
    margin-left: 1rem;
}

#vidEmbed {
    gap: 1rem;
}

#welcomeUsersSponsor > div {
    flex: auto !important;
}

#diconoDiNoi {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.news-logos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    padding: 1rem;
    padding-right: 0;
    align-items: center;
    justify-items: center;
}

.logo-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 65px;
    padding: 1rem;
    border-radius: 8px;
}

.logo-link:hover {
    background-color: rgba(255, 255, 255, 0.836) !important;
}

.logo-link img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.logo-link-hover {
    background-color: rgba(255, 255, 255, 0.836) !important;
}

@media (max-width: 1500px) {
    #projectLogoIndex {
        display: none !important;
    }

    #welcomeUsersSponsor {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 10px !important;
        margin-right: 10px !important;
    }

    #vidEmbed {
        margin-bottom: 1rem;
    }
}

@media (max-width: 1300px) {
    .img-biggestimg {
        max-width: 400px !important;
    }

    .img-biggerimg {
        max-width: 300px !important;
    }

    .img-bigimg {
        max-width: 200px !important;
    }
}

@media (max-width: 1200px) {
    .img-bigimg, .img-biggerimg, .img-biggestimg {
        /* Center images */
        margin-left: auto;
        margin-right: auto;
        /* Add space below images */
        margin-bottom: 1rem;
        /* Make images full width */
        width: 35% !important;
    }

    #fotoMisureEVideo {
        flex-direction: row;
        max-width: 100% !important;
    }

    #fotoMisureEVideo > img {
        max-width: 50% !important;
        flex-grow: 1;
    }

    #fotoMisureEVideo > div {
        max-width: 50% !important;
    }

    #germanSponsor {
        justify-content: center;
        flex-direction: row;
        margin-bottom: 1rem;
    }
    
    .logo-kempten, .logo-erasmus {
        width: 35% !important;
    }

    .sponsor {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 10px !important;
        margin-right: 10px !important;
    }

    #vidYT {
        max-width: 50% !important;
        margin-bottom: 15px !important;
    }

    #vidYT2 {
        max-width: 50% !important;
        margin-bottom: 15px !important;
    }

    #diconoDiNoi {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .news-logos-grid {
        padding-right: 2rem;
    }

    .content {
        width: 95% !important;
    }

    .boxino > div {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (max-width: 768px) {
    .img-left, .img-right, .img-img {
        margin: 0 0 1rem 0;
    }

    .img-bigimg, .img-biggerimg, .img-biggestimg {
        /* Center images */
        margin-left: auto;
        margin-right: auto;
        /* Add space below images */
        margin-bottom: 1rem;
        /* Make images full width */
        width: 50% !important;
    }

    #vidYT {
        max-width: 100% !important;
        margin-bottom: 15px !important;
    }

    #vidYT2 {
        max-width: 100% !important;
        margin-bottom: 15px !important;
        margin-left: 0 !important;
    }

    #vidEmbed {
        flex-direction: column;
        gap: 0.25rem;
    }
}

@media (max-width: 576px) {
    #fotoMisureEVideo {
        flex-direction: column !important;
    }

    #fotoMisureEVideo > img {
        max-width: 100% !important;
    }

    #fotoMisureEVideo > div {
        max-width: 100% !important;
    }
}