html[data-bs-theme="dark"] .content {
    background-color: #e41e1e;
}

html[data-bs-theme="light"] .content {
    background-color: #273668;
}

.content{
    display: flex !important;
    flex-wrap: wrap !important;
    flex-direction: row !important;
    justify-content: flex-start !important;
    gap: 16px;
}

.meteo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    min-width: 200px;
    height: auto; /* or flex-grow: 1; */
    padding: 30px;
}

.prima-riga{
    display:flex;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: #e41e1e3b;
    padding-top: 2px;
    padding-bottom: 2px;
}

.seconda-riga{
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    background-color: rgba(165, 42, 42, 0.329);
}

.seconda-riga .data-ora{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.seconda-riga .data-ora #data{
    font-size: 1em;
    color: white;
    height: auto;
    line-height: 0;
}


.seconda-riga .data-ora #ora{
    font-size: 5em;
    color: white;
    height: auto;
    line-height: normal;
}

.seconda-riga .icona-meteo{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position:relative;
    overflow: hidden; /* Hide overflow for clean cropping */
}

.seconda-riga .icona-meteo img{
    height: auto;
    margin-top: -3em;
}

.seconda-riga .icona-meteo #descrizione{
    color:white;
    font-size: 2em;
    position: absolute;
    bottom: 4.5%;
}

.terza-riga {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    background-color: rgba(220, 20, 60, 0.253);
    height: auto;
}

.vento, .direzione-vento, .pressione, .umidita, .visibilita, .nuvolosita, .altitudine, .alba, .tramonto {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid greenyellow;
    gap: 10px; /* Add this to create space between the icon and the text */
}

.prima-riga, .seconda-riga, .terza-riga{
    width: 100%;
    border: 8px solid rgba(0, 0, 0, 0.199);
}

.meteo, #map{
    background-color: blue;
}

#map{
    width: 1648px;
    height: 450px;
    min-width:calc(1648/2)px;
}

#vento, #direzione-vento, #pressione, #umidita, #visibilita, #nuvolosita, #altitudine, #alba, #tramonto {
    flex-grow: 1;
    flex-shrink: 1;
    border: 2px solid khaki;
    color: white;
    font-size: 1.5em;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* inizio sezione icone */

.fa-light {
    font-size: 3em;
    flex-grow: 0;
    flex-shrink: 0;
    width: 50px; /* Set a fixed width for the icons */
    text-align: center; /* Center the icon horizontally */
    color: white;
    margin-right: 10px; /* Add some space between the icon and the text */
}

@media (max-width: 768px) {
    .terza-riga {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4.5, 1fr);
    }

    .seconda-riga {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .terza-riga {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 1fr);
    }

    .seconda-riga {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .fa-light{
        font-size: 2em;
    }
}

.box-icone-temperatura{
    display: flex;
    gap: 20px;
}

.fa-up{
    flex-grow: 1;
    color:red;
}

.fa-down{
    flex-grow: 1;
    color:blue;
}

#temperatura{
    font-size: 5em;
    color: white;
    height: auto;
    line-height: 100%;
}

#massimo{
    color:white;
    font-size: 2em;
}

#minimo{
    color:white;
    font-size: 2em;
}

.temperatura{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#citta{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: white;
    font-weight: bold;
}