html[data-bs-theme="dark"] .content {
    color: #e1e1e1;
}

html[data-bs-theme="dark"] .content > .grid > .row > .col-4, html[data-bs-theme="dark"] .content > .grid > .row > .col-8{
    border: 4px solid #343a40 !important;
    border-radius: 10px;
}

html[data-bs-theme="light"] .content {
    color: #343a40;
}

html[data-bs-theme="light"] .content > .grid > .row > .col-4 , html[data-bs-theme="light"] .content > .grid > .row > .col-8{
    border: 4px solid #cfc9c9 !important;
    border-radius: 10px;
}

.col-8, .col-4{
    border-radius: 10px;
}

#realBody > .box > .row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.grid{
    display:grid;
    gap: 20px;
}



h3{
    font-size: 1.6dvw;
}

.col-2{
    display: flex;
    align-items: center;
    justify-content: center;
}

#switch_NO2, #switch_PM10, #switch_TVOC, #switch_NH3, #switch_CO, #switch_CO2{
    background-color: aqua;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

#map{
    width: 100%;
    height: 450px;
    min-width: calc(1648/2)px;
    border-radius: 10px;
}

