html[data-bs-theme="dark"] .content {
    color: #e1e1e1;
}

html[data-bs-theme="dark"] .content > .box > .riga > .parteParametri, html[data-bs-theme="dark"] .content > .box > .riga > .parteGrafica, html[data-bs-theme="dark"] .content > .box > .riga > .parteParametriAmbientali{
    border-radius: 10px;
    background-color: #343a40;
}

html[data-bs-theme="light"] .content {
    color: #343a40;
}

html[data-bs-theme="light"] .content > .box > .riga > .parteParametri , html[data-bs-theme="light"] .content > .box > .riga > .parteGrafica, html[data-bs-theme="light"] .content > .box > .riga > .parteParametriAmbientali{
    border-radius: 10px;
    background-color: #e1e1e1;
}


#realBody > .box > .riga {
    margin-right: 0 !important;
    margin-left: 0 !important;
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap:20px;
    max-width: 100%;
}

canvas {
    max-width: 100% !important;
}

html[data-bs-theme="dark"] .leaflet-layer {
    filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}

html[data-bs-theme="dark"] .leaflet-control, html[data-bs-theme="dark"] .leaflet-control > a {
    background-color: #343a40; /* Lighter color for dark mode */
    color: #ffffff; /* Lighter color for dark mode */
}

@supports (-ms-ime-align: auto) {
    .parteGrafica {
        display: none !important;
    }

    .parteParametriAmbientali > canvas {
        display: none !important;
    }

    .riga {
        margin-bottom: 15px;
    }

    .riga > .parteParametriAmbientali {
        margin-left: 10px;
        margin-right: 10px;
    }

    .riga > .parteParametriAmbientali:first-child {
        margin-left: 0 !important;
    }

    .riga > .parteParametriAmbientali:last-child {
        margin-right: 0 !important;
    }
}

/* .parteGrafica, .parteParametri, .parteParametriAmbientali {
    background-color: greenyellow !important;
} */

.parteGrafica{
    flex: 2;
    flex-shrink: 3;
    padding: 20px;
}

.parteParametri{
    display:flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex: 1;
    flex-shrink: 1;
    padding: 20px;
}

.parteParametriAmbientali{
    flex: 1 1;
    padding: 20px;
}

.box{
    display: flex;
    flex-direction: row;
    gap:20px;
    flex-wrap: wrap;
}

h4 {
    font-weight: 700;
}

.col-2{
    display: flex;
    align-items: center;
    justify-content: center;
}

#map{
    width: 100%;
    height: 450px;
    min-width: calc(1648/2)px;
    border-radius: 10px;
}

.pulsanti{
    display:flex;
    justify-content: space-evenly;
    gap: 20px;
    margin: 30px;
}

.map{
    flex-basis: 100%;
}

.parteMappa{
    display: block;
    flex-basis: 100%;
}


@media (max-width: 1000px) {
    .riga {
        flex-wrap: nowrap !important;
        max-width: 100%;
        flex-direction: column !important; 
    }

    .parteParametri{
        order: 2
    }

    .parteGrafica{
        order: 1
    }

    .parteGrafica, .parteParametriAmbientali, .parteGrafica{
        flex: 1 1;
        max-width: 100%;
    }

    
}