.content{
    display: flex !important;
    flex-wrap: wrap !important;
    flex-direction: row !important;
    justify-content: flex-start !important;
    gap: 5px;
}

.meteo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    min-width: 200px;
    height: auto; /* or flex-grow: 1; */
}

.prima-riga{
    display:flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding-top: 2px;
    padding-bottom: 2px;
}

.seconda-riga{
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.seconda-riga .data-ora{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.seconda-riga .data-ora #data{
    font-size: 1em;
    height: auto;
    line-height: 0;
}

.seconda-riga .data-ora #ora{
    font-size: 5em;
    height: auto;
    line-height: normal;
}

.seconda-riga .icona-meteo{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position:relative;
    overflow: hidden; /* Hide overflow for clean cropping */
}

.seconda-riga .icona-meteo img{
    height: auto;
    margin-top: -2.5em;
}

.seconda-riga .icona-meteo #descrizione{
    font-size: 2em;
    position: absolute;
    bottom: 4.5%;
}

.terza-riga {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    height: auto;
}

html[data-bs-theme="light"] .prima-riga, html[data-bs-theme="light"] .seconda-riga, html[data-bs-theme="light"] .terza-riga {
    padding: 5px;
}

html[data-bs-theme="dark"] .prima-riga, html[data-bs-theme="dark"] .seconda-riga, html[data-bs-theme="dark"] .terza-riga {
    padding: 5px;
}

html[data-bs-theme="dark"] .prima-riga > div, html[data-bs-theme="dark"] .seconda-riga > div, html[data-bs-theme="dark"] .terza-riga > div {
    border: 4px solid #343a40;
    padding: 5px;
    border-radius: 10px;
}

html[data-bs-theme="light"] .prima-riga > div, html[data-bs-theme="light"] .seconda-riga > div, html[data-bs-theme="light"] .terza-riga > div {
    border: 4px solid #e1e1e1;
    padding: 5px;
    border-radius: 10px;
}

.terza-riga > div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 10px; /* Add this to create space between the icon and the text */
}

.prima-riga, .prima-riga > div, .seconda-riga, .terza-riga{
    width: 100%;
}

@media (max-width: 350px) {
    .prima-riga, .seconda-riga, .terza-riga {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .seconda-riga .data-ora #ora {
        font-size: 4em !important;
    }

    .seconda-riga .icona-meteo #descrizione {
        font-size: 1.5em !important;
    }

    #temperatura {
        font-size: 4em !important;
    }

    #massimo, #minimo {
        font-size: 1.5em !important;
    }
}

#map {
    width: 100%;
    height: 350px;
    border-radius: 10px;
}

.terza-riga > div > div {
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 1.5em;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* inizio sezione icone */

.fa-light {
    font-size: 3em;
    flex-grow: 0;
    flex-shrink: 0;
    width: 50px; /* Set a fixed width for the icons */
    text-align: center; /* Center the icon horizontally */
    margin-right: 10px; /* Add some space between the icon and the text */
}

html[data-bs-theme="dark"] .fa-light {
    color: #e1e1e1;
}

html[data-bs-theme="light"] .fa-light {
    color: #343a40;
}

html[data-bs-theme="dark"] .leaflet-layer {
    filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}

html[data-bs-theme="dark"] .leaflet-control, html[data-bs-theme="dark"] .leaflet-control > a {
    background-color: #343a40; /* Lighter color for dark mode */
    color: #ffffff; /* Lighter color for dark mode */
}


@media (max-width: 768px) {
    .terza-riga {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4.5, 1fr);
    }

    .seconda-riga {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .terza-riga {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 1fr);
    }

    .seconda-riga {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .fa-light{
        font-size: 2em;
    }

    #map {
        height: 300px;
    }
}

@media (max-height: 500px) {
    #map {
        height: 300px;
    }
}

.box-icone-temperatura{
    display: flex;
    gap: 20px;
}

.fa-up{
    flex-grow: 1;
    color:rgb(200, 0, 0);
}

.fa-down{
    flex-grow: 1;
    color:rgb(0, 0, 200);
}

#temperatura{
    font-size: 5em;
    height: auto;
    line-height: 100%;
}

#massimo{
    font-size: 2em;
}

#minimo{
    font-size: 2em;
}

.temperatura{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#citta{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
}