{% extends "layout.html" %}

{% block title %}Dashboard inquinanti{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard_inquinanti.css') }}">
{% endblock %}


{% block content %}
<div class="box">
    <div class="row">
        <div class="col-8" id="grafico_NO2">col-8</div>
        <div class="col-4" id="parametri_NO2">
            <h3>parametri biossido di azoto</h3>
            <div class="row">
                <div class="col">biossido di azoto</div>
                <div class="col">valore attuale</div>
            </div>
            <div class="row">
                <div class="col">valore per legge</div>
                <div class="col">valore per legge...</div>
            </div>
            <div class="row">
                <div class="col">valore consigliato per la salute</div>
                <div class="col">valore per la salute...</div>
            </div>
            <div class="row">
                <div class="col">valore bresciano</div>
                <div class="col">valore bresciano...</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4" id="parametri_PM10">
            <h3>parametri biossido di PM10</h3>
            <div class="row">
                <div class="col">biossido di azoto</div>
                <div class="col">valore attuale</div>
            </div>
            <div class="row">
                <div class="col">valore per legge</div>
                <div class="col">valore per legge...</div>
            </div>
            <div class="row">
                <div class="col">valore consigliato per la salute</div>
                <div class="col">valore per la salute...</div>
            </div>
            <div class="row">
                <div class="col">valore bresciano</div>
                <div class="col">valore bresciano...</div>
            </div>
        </div>
        <div class="col-8" id="grafico_PM10">col-8</div>
    </div>
    <div class="row">
        <div class="col-8" id="grafico_NH3">col-8</div>
        <div class="col-4" id="parametri_NH3">
            <h3>parametri ammoniaca</h3>
            <<div class="row">
                <div class="col">biossido di azoto</div>
                <div class="col">valore attuale</div>
            </div>
            <div class="row">
                <div class="col">valore per legge</div>
                <div class="col">valore per legge...</div>
            </div>
            <div class="row">
                <div class="col">valore consigliato per la salute</div>
                <div class="col">valore per la salute...</div>
            </div>
            <div class="row">
                <div class="col">valore bresciano</div>
                <div class="col">valore bresciano...</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4" id="parametri_CO">
            <h3>parametri ossido di carbonio</h3>
            <div class="row">
                <div class="col">biossido di azoto</div>
                <div class="col">valore attuale</div>
            </div>
            <div class="row">
                <div class="col">valore per legge</div>
                <div class="col">valore per legge...</div>
            </div>
            <div class="row">
                <div class="col">valore consigliato per la salute</div>
                <div class="col">valore per la salute...</div>
            </div>
            <div class="row">
                <div class="col">valore bresciano</div>
                <div class="col">valore bresciano...</div>
            </div>
        </div>
        <div class="col-8" id="grafico_CO">col-8</div>
    </div>
    <div class="row">
        <div class="col-8" id="grafico_CO2">col-8</div>
        <div class="col-4" id="parametri_CO2">
            <h3>parametri anidride carbonica</h3>
            <div class="row">
                <div class="col">biossido di azoto</div>
                <div class="col">valore attuale</div>
            </div>
            <div class="row">
                <div class="col">valore per legge</div>
                <div class="col">valore per legge...</div>
            </div>
            <div class="row">
                <div class="col">valore consigliato per la salute</div>
                <div class="col">valore per la salute...</div>
            </div>
            <div class="row">
                <div class="col">valore bresciano</div>
                <div class="col">valore bresciano...</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4" id="parametri_TVOC">
            <h3>parametri composti organici volatili</h3>
            <div class="row">
                <div class="col">biossido di azoto</div>
                <div class="col">valore attuale</div>
            </div>
            <div class="row">
                <div class="col">valore per legge</div>
                <div class="col">valore per legge...</div>
            </div>
            <div class="row">
                <div class="col">valore consigliato per la salute</div>
                <div class="col">valore per la salute...</div>
            </div>
            <div class="row">
                <div class="col">valore bresciano</div>
                <div class="col">valore bresciano...</div>
            </div>
        </div>
        <div class="col-8" id="grafico_TVOC">col-8</div>
    </div>

{% endblock %}


{% block script %}
<!-- <script src="{{ url_for('static', filename='js/meteo/.js') }}"></script> -->
{% endblock %}