{% extends "layout.html" %}

{% block title %}Dashboard inquinanti{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard_inquinanti.css') }}">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet-gesture-handling@1.2.2/dist/leaflet-gesture-handling.min.css" type="text/css">
{% endblock %}

{% block script %}
<!--valori-->
<script src="{{ url_for('static', filename='js/inquinanti/valoriAttualiInquinanti.js') }}"></script>
<!-- grafici -->
<script src="{{ url_for('static', filename='js/inquinanti/grafici.js') }}"></script>
<!--mappa-->
<script src="{{ url_for('static', filename='js/inquinanti/mappazione.js') }}"></script>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet-gesture-handling@1.2.2/dist/leaflet-gesture-handling.min.js"></script>
<!-- Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@latest"></script>
{% endblock %}

{% block content %}
<div class="pulsanti">
    <button class="btn btn-secondary" id="ora" onclick="setOra()">1 ora</button>
    <button class="btn btn-secondary" id="giorno" onclick="setGiorno()"> 1 giorno</button>
    <button class="btn btn-secondary" id="settimana" onclick="setSettimana()"> 1 settimana</button>
    <button class="btn btn-secondary" id="mese" onclick="setMese()">1 mese</button>
    <button class="btn btn-secondary" id="anno" onclick="setAnno()">1 anno</button>
</div>
<div class="grid">
    <div class="row justify-content-around">
        <div class="col-8">
            <h4>Biossido di azoto (\(NO_2\))</h4>
            <div class="row">
                <div class="col">
                    <canvas id="grafico_NO2"></canvas>
                </div>
            </div>
        </div>
        <div class="col-3">
            <h3>Parametri \(NO_2\)</h3>
            <div class="row">
                <div class="col">Dati sensore</div>
                <div class="col" id="valore_attuale_NO2">NaN</div>
            </div>
            <div class="row">
                <div class="col">Valore limite per legge</div>
                <div class="col">\(0,1 \ \text{ppm}\)</div>
            </div>
        </div>
    </div>

    <div class="row justify-content-around">
        <div class="col-3">
            <h3>Parametri PM10</h3>
            <div class="row">
                <div class="col">Dati sensore</div>
                <div class="col" id="valore_attuale_PM10">NaN</div>
            </div>
            <div class="row">
                <div class="col">Valore limite per legge</div>
                <div class="col">\(50 \ \mu g/m^3\)</div>
            </div>
        </div>
        <div class="col-8">
            <h4>PM10</h4>
            <div class="row">
                <div class="col">
                    <canvas id="grafico_PM10"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-around">
        <div class="col-8">
            <h4>Ammoniaca (\(NH_3\))</h4>
            <div class="row">
                <div class="col">
                    <canvas id="grafico_NH3"></canvas>
                </div>
            </div>
        </div>
        <div class="col-3">
            <h3>Parametri \(NH_3\)</h3>
            <div class="row">
                <div class="col">Dati sensore</div>
                <div class="col" id="valore_attuale_NH3">NaN</div>
            </div>
            <div class="row">
                <div class="col">Valore limite per legge</div>
                <div class="col">\(300 \ \text{ppm}\)</div>
            </div>
        </div>
    </div>

    <div class="row justify-content-around">
        <div class="col-3">
            <h3>Parametri \(CO\)</h3>
            <div class="row">
                <div class="col">Dati sensore</div>
                <div class="col" id="valore_attuale_CO">NaN</div>
            </div>
            <div class="row">
                <div class="col">Valore limite per legge</div>
                <div class="col">\(9 \ \text{ppm}\)</div>
            </div>
        </div>
        <div class="col-8">
            <h4>Monossido di carbonio (\(CO\))</h4>
            <div class="row">
                <div class="col">
                    <canvas id="grafico_CO"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-around">
        <div class="col-8">
            <h4>Composti Organici Volatili (TVOC)</h4>
            <div class="row">
                <div class="col">
                    <canvas id="grafico_TVOC"></canvas>
                </div>
            </div>
        </div>
        <div class="col-3">
            <h3>Parametri TVOC</h3>
            <div class="row">
                <div class="col">Dati sensore</div>
                <div class="col" id="valore_attuale_TVOC">NaN</div>
            </div>
            <div class="row">
                <div class="col">Valore limite per legge</div>
                <div class="col">\(1000 \ \text{ppm}\)</div>
            </div>
        </div>
    </div>

    <div class="row justify-content-around">
        <div class="col-3">
            <h3>Parametri \(CO_2\)</h3>
            <div class="row">
                <div class="col">Dati sensore</div>
                <div class="col" id="valore_attuale_CO2">NaN</div>
            </div>
            <div class="row">
                <div class="col">Valore limite per legge</div>
                <div class="col">\(30000 \ \text{ppm}\)</div>
            </div>
        </div>
        <div class="col-8">
            <h4>Anidride Carbonica (\(CO_2\))</h4>
            <div class="row">
                <div class="col">
                    <canvas id="grafico_CO2"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-around">
        <div class="col-4">
            <h4>Umidità</h4>
            <div class="row">
                <canvas id="grafico_humidity"></canvas>
            </div>
            <div class="row">
                <div class="col" id="valore_attuale_humidity"></div>
            </div>
        </div>
        <div class="col-4">
            <h4>Temperatura (°C)</h4>
            <div class="row">
                <canvas id="grafico_temperature"></canvas>
            </div>
            <div class="row">
                <div class="col" id="valore_attuale_temperature"></div>
            </div>
        </div>
        <div class="col-4">
            <h4>Pressione (hPa)</h4>
            <div class="row">
                <canvas id="grafico_pressure"></canvas>
            </div>
            <div class="row">
                <div class="col" id="valore_attuale_pressure"></div>
            </div>
        </div>
    </div>


    <div class="row justify-content-around">
        <div class="col-12">
            <div id="map"></div>
            <div id="statoGPS"></div>
        </div>
    </div>
</div>
{% endblock %}