{% extends "layout.html" %}

{% block title %}Documentazione Tecnica{% endblock %}

{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const components = document.querySelectorAll('.component-container');

        components.forEach(component => {
            component.addEventListener('touchstart', function() {
                // Toggle the 'active' class on touch
                component.classList.toggle('active');
            });
        });
    });
</script>
{% endblock %}

{% block style %}
<style>
    .component-container {
        overflow: hidden;
        position: relative;
    }
    
    .component-container img {
        transition: filter 0.3s ease-in-out;
    }

    .component-detail {
        position: absolute;
        top: 0;
        right: -100%;
        width: 75%;
        height: 100%;
        padding: 15px;
        transition: right 0.3s ease-in-out, opacity 0.3s ease-in-out;
        opacity: 0;
        overflow-y: auto; /* Make the panel scrollable */
        max-height: 100%; /* Set a maximum height */
    }

    html[data-bs-theme="dark"] .component-detail {
        background: #343a40c9;
    }

    html[data-bs-theme="light"] .component-detail {
        background: #e1e1e1c9;
    }

    .component-container {
        margin-bottom: 20px;
    }

    .component-container:hover img {
        filter: blur(5px);
    }

    .component-container:hover .component-detail {
        right: 0;
        opacity: 1;
    }

    .component-container.active .component-detail {
        right: 0;
        opacity: 1;
    }

    /* Responsive design */
    @media (max-width: 768px) {
        .component-detail {
            width: 100%; /* Full width on smaller screens */
        }
    }

    .infoZaino {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-shrink: 2 !important;
    }

    .infoProgetto {
        flex-grow: 2 !important;
        display: flex;
        flex-direction: column;
        align-items: left;
    }

    #circSensori {
        max-width: 100% !important;
        margin-bottom: 1rem !important;
        margin-right: 25px !important;
        align-self: center;
    }

    #circSensori + p {
        align-self: center;
    }

    .vrVr {
        display: none;
    }

    .vrAlternative {
        display: none;
    }

    @media (max-width: 1250px) {
        #circSensori {
            max-width: 100% !important;
            margin: 0 !important;
        }

        .infoProgetto {
            display: flex !important;
            flex-direction: column !important;
            align-items: center !important;
        }
    }
</style>
{% endblock %}

{% block content %}
<!-- Welcoming users -->
<div class="py-3 boxino border border-3">
    <div class="sponsor d-flex align-items-center">
        <div class="order-1 infoProgetto">
            <h1 class="bold">Aria Connect</h1>
            <p class="lead italic">Monitoraggio della qualità dell'aria da remoto con uno zaino intelligente.</p>
            <img src="{{ url_for('static', filename='img/Circuito_bb.jpg') }}" alt="Circuito Sensori" class="rounded" id="circSensori" onclick="openModal(this)">
            <p class="italic">Dettaglio della parte superiore dello zaino relativo alla scheda dei sensori per il monitoraggio della qualità dell'aria.</p>
        </div>
        {% include 'layout_zaino.html' %}
    </div>
</div>

<!-- Horizontal Line -->
<hr class="my-4">

<!-- Schema funzionamento -->
<div class="py-3 boxino border border-3">
    <div class="sponsor d-flex align-items-center">
        <div class="order-1">
            <h1 class="bold">Come funziona questo sistema?</h1>
            <p>
                Il sistema è composto da due parti principali: la stazione mobile nello zaino e la stazione base. La stazione mobile è responsabile dell'acquisizione, visualizzazione e trasmissione dei dati, mentre la stazione base si occupa dell'elaborazione e della visualizzazione dei dati.
            </p>
            <h2 class="bold">Stazione Mobile nello zaino</h2>
            <h3 class="bold">Acquisizione, visualizzazione e trasmissione radio dei dati</h3>
            <p>
                Nello zaino è contenuta la stazione mobile, composta da una scheda elettronica programmabile Arduino UNO e un mini computer Raspberry Pi 4. Ad Arduino UNO sono collegati i sensori che rilevano i dati sulla qualità dell'aria, come \(CO_2\), TVOC, PM10, \(CO\), \(NH_3\), \(NO_2\), temperatura, umidità, pressione ed un dispositivo GPS che consente di geolocalizzare la posizione in cui vengono effettuate le misure. I dati provenienti dai sensori e dal GPS vengono elaborati da Arduino UNO e successivamente trasferiti a Raspberry Pi 4 tramite la porta seriale emulata dalla porta USB. La stazione mobile è dotata di un monitor touch da 7 pollici collegato a Raspberry Pi 4 tramite la porta HDMI, che consente all'operatore sul posto di visualizzare le misure.
            </p>
            <p>
                I dati ricevuti da Raspberry Pi 4 vengono trasmessi alla stazione base, il server centrale, tramite un modulo Radio LoRa collegato ai pin GPIO di Raspberry Pi 4. Il modulo LoRa trasmette i dati a una frequenza di 900 MHz, consentendo comunicazioni a medio raggio (1-5 km) con basso consumo energetico.
            </p>
            <h3 class="bold">Comunicazione alternativa tramite Wi-Fi</h3>
            <p>
                Nel caso in cui la connessione Radio LoRa dovesse interrompersi, il sistema commuta automaticamente alla comunicazione Wi-Fi tramite un Hotspot mobile fornito da un cellulare. Questa connessione di backup permette a Raspberry Pi della stazione mobile di continuare ad inviare i dati al server centrale, assicurandosi che l'acquisizione continui senza interruzioni. Una volta stabilita la connessione Wi-Fi, i dati vengono inviati direttamente ad un server MQTT (Message Queuing Telemetry Transport, protocollo di messaggistica utilizzato in ambito IoT per la comunicazione di dati da sensori intelligenti) nel cloud, che si incarica di recapitarli alla stazione base.
            </p>
            <h2 class="bold">Stazione Base</h2>
            <h3 class="bold">Server Centrale - Elaborazione dei Dati</h3>
            <p>
                Le funzioni del server centrale sono basate su un secondo Raspberry Pi 4 presente nella stazione base. Esso riceve i dati trasmessi dalla stazione mobile nello zaino, attraverso un modulo Radio LoRa o tramite il server MQTT presente nel cloud, via Wi-Fi (in caso di mancato collegamento radio). In tutti i casi, i dati ricevuti vengono elaborati e presentati tramite la piattaforma Node-RED. Essa consente la visualizzazione e la gestione dei flussi di dati attraverso una dashboard dedicata, permettendo un monitoraggio dei parametri ambientali in tempo reale.
            </p>
            <p>
                Infine, tutti i dati ricevuti ed elaborati localmente dalla stazione base vengono inviati e memorizzati nel CLOUD su un server di database MySQL per essere elaborati e visualizzati da tutti tramite il nostro sito <a href="{{ url_for('inquinanti') }}">WEB</a> dedicato.
            </p>
        </div>
        <img src="{{ url_for('static', filename='img/AspettiTecniciProgetto.png') }}" class="img-right img-biggestimg rounded" onclick="openModal(this)">
    </div>
</div>

<!-- Horizontal Line -->
<hr class="my-4">

<!-- Codice sorgente -->
<div class="py-3 boxino border border-3">
    <div class="sponsor d-flex align-items-center">
        <div class="order-1">
            <h1 class="bold">Codice sorgente</h1>
            <ul>
                <li>Il codice sorgente del sito web "Aria Connect" è disponibile su GitHub al seguente <a href="https://github.com/CoccodrillooXDS/AriaConnect_WebServer" target="_blank">link</a>.</li>
                <li>Il codice sorgente del software montato a bordo di Arduino è disponibile al seguente <a href="{{ url_for('static', filename='Arduino_Source_Code.zip') }}" download="Arduino_Source_Code.zip">link</a>.</li>
                <!-- TODO: Inserire codice proveniente dai Raspberry Pi -->
                <li>Il codice sorgente del software per i mini computer (Raspberry Pi 4) è disponibile al seguente <a href="{{ url_for('static', filename='RaspberryPi_Source_Code.zip') }}" download="RaspberryPi_Source_Code.zip">link</a>.</li>
                <li>È possibile scaricare il circuito elettrico <a href="{{ url_for('static', filename='img/Circuito_bb.jpg') }}" target="_blank">qui</a> e la versione in formato Fritzing <a href="{{ url_for('static', filename='img/Circuito.fzz') }}" target="_blank">qui</a>.</li>
            </ul>
            <p class="bold">Alcuni dettagli sul codice sorgente:</p>
            <ul>
                <li>Il codice sorgente è rilasciato sotto licenza MIT, il che significa che è possibile utilizzarlo, modificarlo e distribuirlo liberamente.</li>
                <li>Se desideri contribuire al progetto, puoi farlo inviando una richiesta di pull su GitHub. Siamo sempre alla ricerca di nuove idee e suggerimenti per migliorare il progetto.</li>
                <li>Se hai domande o dubbi sul codice sorgente, non esitare a contattarci. Saremo lieti di aiutarti a risolvere qualsiasi problema tu possa avere.</li>
            </ul>
            <p class="bold">Linguaggi di programmazione utilizzati:</p>
            <ul>
                <li>Il software di Arduino è stato scritto in C++ utilizzando l'IDE di Arduino.</li>
                <li>Il sito web è stato sviluppato utilizzando il framework Flask, un framework web leggero e flessibile per Python.</li>
                <li>I mini computer (Raspberry Pi 4) utilizzati per la trasmissione e la ricezione dei dati utilizzano la distribuzione Raspbian, basata su Debian, come sistema operativo.</li>
                <li>La comunicazione tra i due moduli LoRA è stata implementata con script Python e la piattaforma Node-Red, in esecuzione su entrambi i Raspberry Pi.</li>
            </ul>
        </div>
    </div>
</div>

<!-- Horizontal Line -->
<hr class="my-4">

<!-- Sezione componenti -->
<div class="py-3 boxino border border-3">
    <div class="sponsor d-flex align-items-center">
        <div class="order-1">
            <h1 class="bold">Componenti del progetto</h1>
            <p>
                Il progetto "Aria Connect" è composto da una serie di componenti hardware e software che lavorano insieme per rilevare e trasmettere i dati sulla qualità dell'aria. Di seguito sono elencati i componenti utilizzati nel progetto.
            </p>
        </div>
    </div>
    <section class="container">
        <div class="row">
            <div class="col-md-4 position-relative component-container">
                <img src="{{ url_for('static', filename='img/SEN-CCS811.jpeg') }}" class="img-fluid">
                <div class="component-detail" id="componentA">
                    <h5>Sensore di composti organici volatili</h5>
                    <p>Il sensore SEN-CCS811 è un sensore digitale di gas miniaturizzato a bassissima potenza in grado di rilevare un'ampia gamma di composti organici volatili (TVOC).</p>
                    <a href="https://wiki.keyestudio.com/KS0457_keyestudio_CCS811_Carbon_Dioxide_Air_Quality_Sensor" class="btn btn-primary" target="_blank">Scopri di più</a>
                </div>
            </div>
            <div class="col-md-4 position-relative component-container">
                <img src="{{ url_for('static', filename='img/AirQualitySensor.jpeg') }}" class="img-fluid">
                <div class="component-detail" id="componentB">
                    <h5>Sensore di qualità dell'aria</h5>
                    <p>Il Grove Air Quality Sensor v1.3 è progettato per il monitoraggio completo delle condizioni dell'aria interna. Risponde a un'ampia gamma di gas nocivi, come monossido di carbonio, alcol, acetone, diluente, formaldeide e così via.</p>
                    <a href="https://wiki.seeedstudio.com/Grove-Air_Quality_Sensor_v1.3/" class="btn btn-primary" target="_blank">Scopri di più</a>
                </div>
            </div>
            <div class="col-md-4 position-relative component-container">
                <img src="{{ url_for('static', filename='img/Dust_Sensor.jpeg') }}" class="img-fluid">
                <div class="component-detail" id="componentC">
                    <h5>Sensore di PM10</h5>
                    <p>Il Grove - Dust Sensor (PPD42NS) è un sensore che misura la concentrazione di particelle inquinanti nell'aria (PM10) e ci permette di carpire la quantità di inquinanti nell'aria che respiriamo.</p>
                    <a href="https://wiki.seeedstudio.com/Grove-Dust_Sensor/" class="btn btn-primary" target="_blank">Scopri di più</a>
                </div>
            </div>
            <div class="col-md-4 position-relative component-container">
                <img src="{{ url_for('static', filename='img/MICS-6814.jpeg') }}" class="img-fluid">
                <div class="component-detail" id="componentD">
                    <h5>Sensore di \(CO\), \(NH_3\) e \(NO_2\)</h5>
                    <p>Il MICS-6814 è un sensore MOS (Metal-Oxide Semiconductor) compatto con tre elementi di rilevamento indipendenti. Possiamo rilevare gas nocivi presenti nell'aria come \(CO\) (monossido di carbonio), \(NH_3\) (ammoniaca) e \(NO_2\) (biossido di azoto).</p>
                    <a href="https://www.fattelodasolo.it/2021/06/07/arduino-sensore-mics-6814-qualita-aria/" class="btn btn-primary" target="_blank">Scopri di più</a>
                </div>
            </div>
            <div class="col-md-4 position-relative component-container">
                <img src="{{ url_for('static', filename='img/DHT11.jpeg') }}" class="img-fluid">
                <div class="component-detail" id="componentE">
                    <h5>Sensore di temperatura e umidità</h5>
                    <p>Il DHT11 è un sensore di uso comune, è dotato di un NTC dedicato per misurare la temperatura e di un microcontrollore a 8 bit che fornisce i valori di temperatura e umidità come dati seriali. Il sensore può misurare la temperatura da 0°C a 50°C e l'umidità dal 20% al 90% con una precisione di ±1°C e ±1%.</p>
                    <a href="https://arduinogetstarted.com/tutorials/arduino-dht11" class="btn btn-primary" target="_blank">Scopri di più</a>
                </div>
            </div>
            <div class="col-md-4 position-relative component-container">
                <img src="{{ url_for('static', filename='img/GY-BMP280.jpeg') }}" class="img-fluid">
                <div class="component-detail" id="componentF">
                    <h5>Sensore di pressione atmosferica</h5>
                    <p>Il sensore barometrico GY-BMP280 è una scheda breakout per il barometro digitale ad alta precisione e a basso consumo Bosch BMP280. Può essere utilizzato per misurare con precisione la temperatura e la pressione atmosferica. Può essere collegato a un microcontrollore con I2C.</p>
                    <a href="https://circuitdigest.com/microcontroller-projects/interfacing-bmp280-sensor-with-arduino" class="btn btn-primary" target="_blank">Scopri di più</a>
                </div>
            </div>
            <div class="col-md-4 position-relative component-container">
                <img src="{{ url_for('static', filename='img/GT-U7.jpeg') }}" class="img-fluid">
                <div class="component-detail" id="componentG">
                    <h5>Modulo GPS</h5>
                    <p>Questo modulo (GoouuuT Tech GT-U7) fa parte di una famiglia di ricevitori GPS autonomi dotati del motore di posizionamento u-blox 6 ad alte prestazioni. La loro architettura compatta e le opzioni di alimentazione e memoria rendono questo modulo ideale per i dispositivi mobili a batteria con vincoli di costo e spazio limitato.</p>
                    <a href="https://randomnerdtutorials.com/guide-to-neo-6m-gps-module-with-arduino/" class="btn btn-primary" target="_blank">Scopri di più</a>
                </div>
            </div>
            <div class="col-md-4 position-relative component-container">
                <img src="{{ url_for('static', filename='img/LoRA.jpeg') }}" class="img-fluid">
                <div class="component-detail" id="componentH">
                    <h5>Modulo di trasmissione dati LoRa</h5>
                    <p>Il modulo EBYTE E220-900T22D adotta una tecnologia a spettro diffuso LoRa di nuova generazione e un modulo di porta seriale wireless (UART) progettato sulla base del chip LLCC68. Funziona nella banda di frequenza (850.125~930.125MHz) con potenza di 22dBm. Il modulo raggiunge una distanza di trasmissione di 1 km in ambiente urbano.</p>
                    <a href="https://mischianti.org/it/ebyte-lora-e220-llcc68-per-arduino-esp32-o-esp8266-libreria-2/" class="btn btn-primary" target="_blank">Scopri di più</a>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}