<div class="vr vrVr order-1"></div>
<hr class="vrAlternative my-2 order-1" style="display: none;">
<div class="infoZaino order-1">
    <img src="{{ url_for('static', filename='img/Logo_Placeholder.png') }}" alt="Zaino Aria Connect" class="img-bigimg rounded">
    <p class="text-center">Nella parte superiore sono visibili a sinistra i sensori e a destra il display touch da 7" e l'antenna per il collegamento radio.</p>
    <video autoplay loop muted class="img-bigimg rounded" data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="Progetto 3D dell'interno dello zaino smart.<br>Realizzato con Fusion 360 e animato con Blender">
        <source src="{{ url_for('static', filename='img/Progetto_Quadrato.mp4') }}" type="video/mp4">
        Il tuo browser non supporta la riproduzione di video.
    </video>
    <p class="text-center">Nella parte inferiore sono presenti le batterie per l'alimentazione del sistema caricate dal pannello fotovoltaico e le ventole per l'aerazione.</p>
</div>