<div class="py-5 boxino border border-3">
    <h2 class="text-center mb-4 bold" id="sezTeam">Il nostro fantastico team</h2>

    <!-- Persona 1 -->
    <div class="sponsor d-flex align-items-center" id="sponsor1">
        <img src="{{ url_for('static', filename='img/Persona_Trivella_Giuseppe.jpg') }}"
            class="img-left rounded">
        <div class="order-1">
            <h3 class="bold">Giuseppe Trivella</h3>
            <p><span class="bold">Indirizzo di studi:</span> Telecomunicazioni</p>
            <p>Appassionato di informatica ed elettronica, ha giocato un ruolo chiave nella creazione dell'architettura iniziale del progetto, contribuendo in modo significativo allo sviluppo del sito web, alla progettazione del logo e all'editing video.</p>
        </div>
    </div>

    <hr class="my-2">

    <!-- Persona 2 -->
    <div class="sponsor d-flex align-items-center" id="sponsor2">
        <div class="order-1">
            <h3 class="bold">Gabriele Cazzago</h3>
            <p><span class="bold">Indirizzo di studi:</span> Telecomunicazioni</p>
            <p>Appassionato di tecnologia e telecomunicazioni, ha progettato l'infrastruttura iniziale del progetto, realizzato il logo e curato l'editing video. Ha inoltre dato un contributo cruciale nello sviluppo e nell'implementazione dei moduli GPS e radio. Infine, ha redatto gli schemi e la documentazione del progetto, che sono stati allegati al sito web.</p>
        </div>
        <img src="{{ url_for('static', filename='img/Persona_Cazzago_Gabriele.jpg') }}" class="img-right rounded">
    </div>

    <hr class="my-2">

    <!-- Persona 3 -->
    <div class="sponsor d-flex align-items-center" id="sponsor3">
        <img src="{{ url_for('static', filename='img/Persona_Cherubini_Francesco.jpg') }}"
            class="img-left rounded">
        <div class="order-1">
            <h3 class="bold">Francesco Cherubini</h3>
            <p><span class="bold">Indirizzo di studi:</span> Telecomunicazioni</p>
            <p>Appassionato di informatica e telecomunicazioni, ha gestito la dashboard del progetto tramite la piattaforma Node-RED, curando l'integrazione con un mini computer (Raspberry Pi 4).</p>
        </div>
    </div>

    <hr class="my-2">

    <!-- Persona 4 -->
    <div class="sponsor d-flex align-items-center" id="sponsor4">
        <div class="order-1">
            <h3 class="bold">Mohamed Azaz</h3>
            <p><span class="bold">Indirizzo di studi:</span> Informatica</p>
            <p>Appassionato di informatica, è stato uno dei principali sviluppatori del codice per l'acquisizione dati tramite la scheda programmabile Arduino. Inoltre, ha risolto tutte le problematiche emerse durante la fase di test.</p>
        </div>
        <img src="{{ url_for('static', filename='img/Persona_Azaz_Mohamed.jpg') }}" class="img-right rounded">
    </div>

    <hr class="my-2">

    <!-- Persona 5 -->
    <div class="sponsor d-flex align-items-center" id="sponsor5">
        <img src="{{ url_for('static', filename='img/Persona_Bresciani_Manuel.jpg') }}"
            class="img-left rounded">
        <div class="order-1">
            <h3 class="bold">Manuel Bresciani</h3>
            <p><span class="bold">Indirizzo di studi:</span> Telecomunicazioni</p>
            <p>Ha dato un contributo essenziale alla realizzazione della componente hardware del progetto, occupandosi della progettazione delle schede elettroniche per l'acquisizione dei dati tramite sensori dedicati e collegamenti radio. Inoltre, ha curato integralmente il sistema di alimentazione, implementando una soluzione basata su energia fotovoltaica.</p>
        </div>
    </div>

    <hr class="my-2">

    <!-- Persona 6 -->
    <div class="sponsor d-flex align-items-center" id="sponsor6">
        <div class="order-1">
            <h3 class="bold">Shafay Tanveer Butt</h3>
            <p><span class="bold">Indirizzo di studi:</span> Informatica</p>
            <p>Appassionato di informatica, ha curato principalmente l'integrazione del codice di acquisizione dati con la piattaforma Node-RED per la visualizzazione dei risultati.</p>
        </div>
        <img src="{{ url_for('static', filename='img/Persona_Butt_Shafay.jpg') }}" class="img-right rounded">
    </div>

    <hr class="my-2">

    <!-- Persona 7 -->
    <div class="sponsor d-flex align-items-center" id="sponsor7">
        <img src="{{ url_for('static', filename='img/Persona_Micheletti_Diego.jpg') }}"
            class="img-left rounded">
        <div class="order-1">
            <h3 class="bold">Diego Micheletti</h3>
            <p><span class="bold">Indirizzo di studi:</span> Telecomunicazioni</p>
            <p>Appassionato di elettronica e telecomunicazioni, ha testato i sensori, assemblato la batteria del pannello fotovoltaico dello zaino smart e predisposto le connessioni per i vari dispositivi integrati nello zaino.</p>
        </div>
    </div>

    <hr class="my-2">

    <!-- Persona 8 -->
    <div class="sponsor d-flex align-items-center" id="sponsor8">
        <div class="order-1">
            <h3 class="bold">Alessandro Zanini</h3>
            <p><span class="bold">Indirizzo di studi:</span> Telecomunicazioni</p>
            <p>Ha partecipato alla progettazione e alla realizzazione delle schede elettroniche e delle riprese per il video del progetto.</p>
        </div>
        <img src="{{ url_for('static', filename='img/Persona_Zanini_Alessandro.jpg') }}" class="img-right rounded">
    </div>

    <hr class="my-2">

    <!-- Persona 9 -->
    <div class="sponsor d-flex align-items-center" id="sponsor9">
        <img src="{{ url_for('static', filename='img/Persona_Zimolo_Filippo.jpg') }}"
            class="img-left rounded">
        <div class="order-1">
            <h3 class="bold">Filippo Zimolo</h3>
            <p><span class="bold">Indirizzo di studi:</span> Telecomunicazioni</p>
            <p>Appassionato di elettronica, ha eseguito i test dei sensori, progettato la struttura dello zaino smart e creato un modello 3D dettagliato utilizzando Fusion 360.</p>
        </div>
    </div>

    <hr class="my-2">

    <!-- Persona 10 -->
    <div class="sponsor d-flex align-items-center" id="sponsor10">
        <div class="order-1">
            <h3 class="bold">Michele Filisina</h3>
            <p><span class="bold">Indirizzo di studi:</span> Informatica</p>
            <p>Appassionato di informatica, ha inizialmente sviluppato il codice per il funzionamento di sensori della qualità dell'aria. Successivamente, si è occupato della visualizzazione dei dati acquisiti tramite grafici su una dashboard e ha contribuito alla realizzazione dello zaino smart.</p>
        </div>
        <img src="{{ url_for('static', filename='img/Persona_Filisina_Michele.jpg') }}"
            class="img-right rounded">
    </div>
</div>