<div class="py-5 boxino border border-3">
    <h2 class="text-center mb-4 bold" id="sezTeam">Il nostro fantastico team</h2>

    <!-- Persona 1 -->
    <div class="sponsor d-flex align-items-center" id="sponsor1">
        <img src="{{ url_for('static', filename='img/Logo_Placeholder.png') }}" alt="LANGUAGE & STEM 4.0 Project"
            class="img-left">
        <div class="order-1">
            <h3 class="bold">Giuseppe Trivella</h3>
            <p><span class="bold">Indirizzo di studi:</span> Telecomunicazioni</p>
            <p>Ruolo molto imponente e importante</p>
        </div>
    </div>

    <hr class="my-2">

    <!-- Persona 2 -->
    <div class="sponsor d-flex align-items-center" id="sponsor2">
        <div class="order-1">
            <h3 class="bold">Gabriele Cazzago</h3>
            <p><span class="bold">Indirizzo di studi:</span> Telecomunicazioni</p>
            <p>Ruolo importantissimo</p>
        </div>
        <img src="{{ url_for('static', filename='img/Logo_Placeholder.png') }}" alt="PNRR" class="img-right">
    </div>

    <hr class="my-2">

    <!-- Persona 3 -->
    <div class="sponsor d-flex align-items-center" id="sponsor3">
        <img src="{{ url_for('static', filename='img/Logo_Placeholder.png') }}" alt="LANGUAGE & STEM 4.0 Project"
            class="img-left">
        <div class="order-1">
            <h3 class="bold">Francesco Cherubini</h3>
            <p><span class="bold">Indirizzo di studi:</span> Telecomunicazioni</p>
            <p>Ruolo poco importante e poco imponente</p>
        </div>
    </div>

    <hr class="my-2">

    <!-- Persona 4 -->
    <div class="sponsor d-flex align-items-center" id="sponsor4">
        <div class="order-1">
            <h3 class="bold">Azaz Mohamed</h3>
            <p><span class="bold">Indirizzo di studi:</span> Informatica</p>
            <p>altro ruolo fantasioso</p>
        </div>
        <img src="{{ url_for('static', filename='img/Logo_Placeholder.png') }}" alt="PNRR" class="img-right">
    </div>

    <hr class="my-2">

    <!-- Persona 5 -->
    <div class="sponsor d-flex align-items-center" id="sponsor5">
        <img src="{{ url_for('static', filename='img/Logo_Placeholder.png') }}" alt="LANGUAGE & STEM 4.0 Project"
            class="img-left">
        <div class="order-1">
            <h3 class="bold">Manuel Bresciani</h3>
            <p><span class="bold">Indirizzo di studi:</span> Telecomunicazioni</p>
            <p>Ruolo del palo con pannello fotovoltaico</p>
        </div>
    </div>

    <hr class="my-2">

    <!-- Persona 6 -->
    <div class="sponsor d-flex align-items-center" id="sponsor6">
        <div class="order-1">
            <h3 class="bold">Butt Shafay Tanveer</h3>
            <p><span class="bold">Indirizzo di studi:</span> Informatica</p>
            <p>altro ruolo super fantasioso</p>
        </div>
        <img src="{{ url_for('static', filename='img/Logo_Placeholder.png') }}" alt="PNRR" class="img-right">
    </div>

    <hr class="my-2">

    <!-- Persona 7 -->
    <div class="sponsor d-flex align-items-center" id="sponsor7">
        <img src="{{ url_for('static', filename='img/Logo_Placeholder.png') }}" alt="LANGUAGE & STEM 4.0 Project"
            class="img-left">
        <div class="order-1">
            <h3 class="bold">Micheletti Diego</h3>
            <p><span class="bold">Indirizzo di studi:</span> Telecomunicazioni</p>
            <p>ruolo fantasioso</p>
        </div>
    </div>

    <hr class="my-2">

    <!-- Persona 8 -->
    <div class="sponsor d-flex align-items-center" id="sponsor8">
        <div class="order-1">
            <h3 class="bold">Zanini Alessandro</h3>
            <p><span class="bold">Indirizzo di studi:</span> Telecomunicazioni</p>
            <p>altro ruolo fantasioso</p>
        </div>
        <img src="{{ url_for('static', filename='img/Logo_Placeholder.png') }}" alt="PNRR" class="img-right">
    </div>

    <hr class="my-2">

    <!-- Persona 9 -->
    <div class="sponsor d-flex align-items-center" id="sponsor9">
        <img src="{{ url_for('static', filename='img/Logo_Placeholder.png') }}" alt="LANGUAGE & STEM 4.0 Project"
            class="img-left">
        <div class="order-1">
            <h3 class="bold">Zimolo Filippo</h3>
            <p><span class="bold">Indirizzo di studi:</span> Telecomunicazioni</p>
            <p>altro ruolo super fantasioso</p>
        </div>
    </div>

    <hr class="my-2">

    <!-- Persona 10 -->
    <div class="sponsor d-flex align-items-center" id="sponsor10">
        <div class="order-1">
            <h3 class="bold">Passante Gabriella</h3>
            <p><span class="bold">Indirizzo di studi:</span> Informatica</p>
            <p>ruolo fantasioso</p>
        </div>
        <img src="{{ url_for('static', filename='img/Logo_Placeholder.png') }}" alt="PNRR" class="img-right">
    </div>

    <hr class="my-2">

    <!-- Persona 11 -->
    <div class="sponsor d-flex align-items-center" id="sponsor11">
        <img src="{{ url_for('static', filename='img/Logo_Placeholder.png') }}" alt="LANGUAGE & STEM 4.0 Project"
            class="img-left">
        <div class="order-1">
            <h3 class="bold">Andronache Alexander</h3>
            <p><span class="bold">Indirizzo di studi:</span> Informatica</p>
            <p>altro ruolo fantasioso</p>
        </div>
    </div>

    <hr class="my-2">

    <!-- Persona 12 -->
    <div class="sponsor d-flex align-items-center" id="sponsor12">
        <div class="order-1">
            <h3 class="bold">[??] Sabbaji Salaheddine</h3>
            <p><span class="bold">Indirizzo di studi:</span> Informatica</p>
            <p>altro ruolo super fantasioso</p>
        </div>
        <img src="{{ url_for('static', filename='img/Logo_Placeholder.png') }}" alt="PNRR" class="img-right">
    </div>

    <hr class="my-2">

    <!-- Persona 13 -->
    <div class="sponsor d-flex align-items-center" id="sponsor13">
        <img src="{{ url_for('static', filename='img/Logo_Placeholder.png') }}" alt="LANGUAGE & STEM 4.0 Project"
            class="img-left">
        <div class="order-1">
            <h3 class="bold">Filisina Michele</h3>
            <p><span class="bold">Indirizzo di studi:</span> Informatica</p>
            <p>ruolo fantasioso</p>
        </div>
    </div>
</div>