{% extends "layout.html" %}

{% block title %}Obiettivi{% endblock %}

{% block content %}
<!-- Welcoming users -->
<div class="py-5 boxino border border-3">
    <div class="sponsor d-flex align-items-center">
        <div class="order-1">
            <h1 class="display-4 bold">Obiettivi del progetto</h1>
            <!-- <p class="lead italic">Monitoraggio della qualità dell'aria da remoto con uno zaino intelligente.</p> -->
        </div>
        <!-- TODO: Rimpiazzare con zaino finito -->
        <img src="{{ url_for('static', filename='img/Logo_Placeholder.png') }}" alt="Placeholder"
            class="img-right img-bigimg rounded">
    </div>
</div>

<!-- Horizontal Line -->
<hr class="my-4">

<!-- Global objectives -->
<div class="py-5 boxino border border-3">
    <h2 class="text-center mb-4 bold">Obiettivi globali</h2>

    <!-- Objective 1 -->
    <div class="sponsor d-flex align-items-center" id="sponsor1">
        <img src="{{ url_for('static', filename='img/Logo_Placeholder.png') }}" alt="Placeholder"
            class="img-left img-bigimg img-addbg rounded">
        <div class="order-1">
            <h3 class="bold">Obiettivo 1</h3>
            <p>Testo</p>
        </div>
    </div>

    <hr class="my-2">

    <!-- Objective 2 -->
    <div class="sponsor d-flex align-items-center" id="sponsor2">
        <div class="order-1">
            <h3 class="bold">Obiettivo 2</h3>
            <p>Testo</p>
        </div>
        <img src="{{ url_for('static', filename='img/Logo_Placeholder.png') }}"
            alt="Placeholder"
            class="img-right img-bigimg img-addbg rounded">
    </div>

    <hr class="my-2">

    <!-- Objective 3 -->
    <div class="sponsor d-flex align-items-center" id="sponsor3">
        <img src="{{ url_for('static', filename='img/Logo_Placeholder.png') }}" alt="Placeholder"
            class="img-left img-bigimg img-addbg rounded">
        <div class="order-1">
            <h3 class="bold">Obiettivo 3</h3>
            <p>Testo</p>
        </div>
    </div>

    <hr class="my-2">

    <!-- Objective 4 -->
    <div class="sponsor d-flex align-items-center" id="sponsor4">
        <div class="order-1">
            <h3 class="bold">Obiettivo 4</h3>
            <p>Testo</p>
        </div>
        <img src="{{ url_for('static', filename='img/Logo_Placeholder.png') }}" alt="Placeholder"
            class="img-right img-bigimg img-addbg rounded">
    </div>
    
    <hr class="my-2">

    <!-- Objective 5 -->
    <div class="sponsor d-flex align-items-center" id="sponsor5">
        <img src="{{ url_for('static', filename='img/Logo_Placeholder.png') }}" alt="Placeholder"
            class="img-left img-bigimg img-addbg rounded">
        <div class="order-1">
            <h3 class="bold">Obiettivo 5</h3>
            <p>Testo</p>
        </div>
    </div>

    <hr class="my-2">

    <!-- Objective 6 -->
    <div class="sponsor d-flex align-items-center" id="sponsor6">
        <div class="order-1">
            <h3 class="bold">Obiettivo 6</h3>
            <p>Testo</p>
        </div>
        <img src="{{ url_for('static', filename='img/Logo_Placeholder.png') }}" alt="Placeholder"
            class="img-right img-bigimg img-addbg rounded">
    </div>

    <hr class="my-2">

    <!-- Objective 7 -->
    <div class="sponsor d-flex align-items-center" id="sponsor7">
        <img src="{{ url_for('static', filename='img/Logo_Placeholder.png') }}" alt="Placeholder"
            class="img-left img-bigimg img-addbg rounded">
        <div class="order-1">
            <h3 class="bold">Obiettivo 7</h3>
            <p>Testo</p>
        </div>
    </div>
</div>

<!-- Horizontal Line -->
<hr class="my-4">

<!-- Specific objectives -->
<div class="py-5 boxino border border-3">
    <h2 class="text-center mb-4 bold">Obiettivi specifici</h2>

    <!-- Objective 1 -->
    <div class="sponsor d-flex align-items-center" id="sponsor1">
        <img src="{{ url_for('static', filename='img/Logo_Placeholder.png') }}" alt="Placeholder"
            class="img-left img-bigimg img-addbg rounded">
        <div class="order-1">
            <h3 class="bold">Obiettivo 1</h3>
            <p>Testo</p>
        </div>
    </div>

    <hr class="my-2">

    <!-- Objective 2 -->
    <div class="sponsor d-flex align-items-center" id="sponsor2">
        <div class="order-1">
            <h3 class="bold">Obiettivo 2</h3>
            <p>Testo</p>
        </div>
        <img src="{{ url_for('static', filename='img/Logo_Placeholder.png') }}"
            alt="Placeholder"
            class="img-right img-bigimg img-addbg rounded">
    </div>

    <hr class="my-2">

    <!-- Objective 3 -->
    <div class="sponsor d-flex align-items-center" id="sponsor3">
        <img src="{{ url_for('static', filename='img/Logo_Placeholder.png') }}" alt="Placeholder"
            class="img-left img-bigimg img-addbg rounded">
        <div class="order-1">
            <h3 class="bold">Obiettivo 3</h3>
            <p>Testo</p>
        </div>
    </div>

    <hr class="my-2">

    <!-- Objective 4 -->
    <div class="sponsor d-flex align-items-center" id="sponsor4">
        <div class="order-1">
            <h3 class="bold">Obiettivo 4</h3>
            <p>Testo</p>
        </div>
        <img src="{{ url_for('static', filename='img/Logo_Placeholder.png') }}" alt="Placeholder"
            class="img-right img-bigimg img-addbg rounded">
    </div>
    
    <hr class="my-2">

    <!-- Objective 5 -->
    <div class="sponsor d-flex align-items-center" id="sponsor5">
        <img src="{{ url_for('static', filename='img/Logo_Placeholder.png') }}" alt="Placeholder"
            class="img-left img-bigimg img-addbg rounded">
        <div class="order-1">
            <h3 class="bold">Obiettivo 5</h3>
            <p>Testo</p>
        </div>
    </div>

    <hr class="my-2">

    <!-- Objective 6 -->
    <div class="sponsor d-flex align-items-center" id="sponsor6">
        <div class="order-1">
            <h3 class="bold">Obiettivo 6</h3>
            <p>Testo</p>
        </div>
        <img src="{{ url_for('static', filename='img/Logo_Placeholder.png') }}" alt="Placeholder"
            class="img-right img-bigimg img-addbg rounded">
    </div>

    <hr class="my-2">

    <!-- Objective 7 -->
    <div class="sponsor d-flex align-items-center" id="sponsor7">
        <img src="{{ url_for('static', filename='img/Logo_Placeholder.png') }}" alt="Placeholder"
            class="img-left img-bigimg img-addbg rounded">
        <div class="order-1">
            <h3 class="bold">Obiettivo 7</h3>
            <p>Testo</p>
        </div>
    </div>
</div>
{% endblock %}