{% extends "layout.html" %}

{% block title %}Obiettivi{% endblock %}

{% block content %}
<!-- Welcoming users -->
<div class="py-5 boxino border border-3">
    <div class="sponsor d-flex align-items-center">
        <div class="order-1">
            <h1 class="display-4 bold">Obiettivi del progetto</h1>
            <!-- <p class="lead italic">Monitoraggio della qualità dell'aria da remoto con uno zaino intelligente.</p> -->
        </div>
        <!-- TODO: Rimpiazzare con zaino finito -->
        <img src="{{ url_for('static', filename='img/Logo_Placeholder.png') }}" alt="Placeholder"
            class="img-right img-bigimg rounded">
    </div>
</div>

<!-- Horizontal Line -->
<hr class="my-4">

<!-- Global objectives -->
<!-- TODO: inserire immagini e/o loghi per gli obiettivi -->
<div class="py-5 boxino border border-3">
    <h2 class="text-center mb-4 bold">Obiettivi globali</h2>

    <!-- Objective 1 -->
    <div class="sponsor d-flex align-items-center" id="sponsor1">
        <img src="{{ url_for('static', filename='img/Logo_Placeholder.png') }}" alt="Placeholder"
            class="img-left img-bigimg img-addbg rounded">
        <div class="order-1">
            <h3 class="bold">Consapevolezza ambientale</h3>
            <p>Contribuire a una maggiore consapevolezza e controllo della qualità dell'aria nelle comunità da parte dei giovani.</p>
        </div>
    </div>

    <hr class="my-2">

    <!-- Objective 2 -->
    <div class="sponsor d-flex align-items-center" id="sponsor2">
        <div class="order-1">
            <h3 class="bold">Promuovere la salute pubblica</h3>
            <p>Utilizzare la tecnologia per migliorare la comprensione dell'ambiente e promuovere la salute pubblica inducendo stili di vita sostenibili.</p>
        </div>
        <img src="{{ url_for('static', filename='img/Logo_Placeholder.png') }}"
            alt="Placeholder"
            class="img-right img-bigimg img-addbg rounded">
    </div>

    <hr class="my-2">

    <!-- Objective 3 -->
    <div class="sponsor d-flex align-items-center" id="sponsor3">
        <img src="{{ url_for('static', filename='img/Logo_Placeholder.png') }}" alt="Placeholder"
            class="img-left img-bigimg img-addbg rounded">
        <div class="order-1">
            <h3 class="bold">Equità ambientale</h3>
            <p>Il prototipo copre anche zone senza accesso a INTERNET. Questo approccio assicura che tutte le comunità possano accedere alle informazioni sulla qualità dell'aria e beneficiare di interventi per migliorare le condizioni ambientali, promuovendo pari opportunità di vivere in un ambiente sano.</p>
        </div>
    </div>

    <hr class="my-2">

    <!-- Objective 4 -->
    <div class="sponsor d-flex align-items-center" id="sponsor4">
        <div class="order-1">
            <h3 class="bold">Scuole unite</h3>
            <p>Coinvolgere studenti e scuole nella raccolta e confronto dei dati, creando una rete di collaborazione per migliorare la qualità dell'aria e sensibilizzare le comunità su temi ambientali.</p>
        </div>
        <img src="{{ url_for('static', filename='img/Logo_Placeholder.png') }}" alt="Placeholder"
            class="img-right img-bigimg img-addbg rounded">
    </div>
    
    <hr class="my-2">

    <!-- Objective 5 -->
    <div class="sponsor d-flex align-items-center" id="sponsor5">
        <img src="{{ url_for('static', filename='img/Logo_Placeholder.png') }}" alt="Placeholder"
            class="img-left img-bigimg img-addbg rounded">
        <div class="order-1">
            <h3 class="bold">Tecnologie smart</h3>
            <p>Promuovere l'adozione di tecnologie innovative per il monitoraggio ambientale, incoraggiando l'uso di dispositivi smart e soluzioni tecnologiche ecologiche.</p>
        </div>
    </div>

    <hr class="my-2">

    <!-- Objective 6 -->
    <div class="sponsor d-flex align-items-center" id="sponsor6">
        <div class="order-1">
            <h3 class="bold">Monitoraggio eco-sostenibile</h3>
            <p>Utilizzare tecnologie sostenibili e a basso impatto ambientale per il funzionamento e la progettazione del sistema di monitoraggio.</p>
        </div>
        <img src="{{ url_for('static', filename='img/Logo_Placeholder.png') }}" alt="Placeholder"
            class="img-right img-bigimg img-addbg rounded">
    </div>

    <hr class="my-2">

    <!-- Objective 7 -->
    <div class="sponsor d-flex align-items-center" id="sponsor7">
        <img src="{{ url_for('static', filename='img/Logo_Placeholder.png') }}" alt="Placeholder"
            class="img-left img-bigimg img-addbg rounded">
        <div class="order-1">
            <h3 class="bold">Coerenza con gli Obiettivi dell'Agenda 2030</h3>
            <ul>
                <li>Migliorare la qualità dell'aria per promuovere la salute e il benessere delle comunità (Goal 3).</li>
                <li>Fornire strumenti educativi innovativi e pratici per migliorare le competenze tecniche degli studenti (Goal 4.4, 4.7).</li>
                <li>Garantire pari opportunità di partecipazione e apprendimento a tutti gli studenti, incoraggiando le carriere tecnico-scientifiche delle studentesse (Goal 4.5).</li>
                <li>Promuovere infrastrutture sostenibili e innovazioni tecnologiche per il monitoraggio ambientale (Goal 9.4).</li>
            </ul>
        </div>
    </div>
</div>

<!-- Horizontal Line -->
<hr class="my-4">

<!-- Specific objectives -->
<!-- TODO: inserire immagini e/o loghi per gli obiettivi -->
<div class="py-5 boxino border border-3">
    <h2 class="text-center mb-4 bold">Obiettivi specifici</h2>

    <!-- Objective 1 -->
    <div class="sponsor d-flex align-items-center" id="sponsor1">
        <img src="{{ url_for('static', filename='img/Logo_Placeholder.png') }}" alt="Placeholder"
            class="img-left img-bigimg img-addbg rounded">
        <div class="order-1">
            <h3 class="bold">Mobilità</h3>
            <p>Acquisire parametri ambientali in mobilità e trasmetterli ad un server per renderli disponibili su WEB.</p>
        </div>
    </div>

    <hr class="my-2">

    <!-- Objective 2 -->
    <div class="sponsor d-flex align-items-center" id="sponsor2">
        <div class="order-1">
            <h3 class="bold">Radiocollegamento</h3>
            <p>Copertura di zone non facilmente raggiungibili tramite connessione INTERNET grazie all'utilizzo di opportuni moduli radio con tecnologia LoRa.</p>
        </div>
        <img src="{{ url_for('static', filename='img/Logo_Placeholder.png') }}"
            alt="Placeholder"
            class="img-right img-bigimg img-addbg rounded">
    </div>

    <hr class="my-2">

    <!-- Objective 3 -->
    <div class="sponsor d-flex align-items-center" id="sponsor3">
        <img src="{{ url_for('static', filename='img/Logo_Placeholder.png') }}" alt="Placeholder"
            class="img-left img-bigimg img-addbg rounded">
        <div class="order-1">
            <h3 class="bold">Sostenibilità</h3>
            <p>Utilizzo di energie rinnovabili per l'alimentazione del sistema di monitoraggio mobile e fisso mediante pannelli fotovoltaici.</p>
        </div>
    </div>
</div>
{% endblock %}