{% extends "layout.html" %}

{% block title %}Il progetto{% endblock %}

{% block script %}
<script src="https://cdn.babylonjs.com/babylon.js"></script>
<script src="https://cdn.babylonjs.com/loaders/babylonjs.loaders.min.js"></script>

<script src="{{ url_for('static', filename='js/modello3D.js') }}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var components = document.querySelectorAll('.component-container');

        Array.prototype.forEach.call(components, function (component) {
            component.addEventListener('touchstart', function () {
                // Toggle the 'active' class on touch
                if (component.classList.contains('active')) {
                    component.classList.remove('active');
                } else {
                    component.classList.add('active');
                }
            });
        });

        var offCanvas = document.getElementById('offcanvasSidebar');
        // Obtain the sections, sections' titles from the page and add them to the offcanvas
        var sections = ['sez1', 'sez2', 'sez3', 'sezTeam'];
        var currentPageLink = document.querySelector('.offcanvas a[href="' + window.location.pathname + '"]');

        if (currentPageLink) {
            var ul = document.createElement('ul');
            ul.className = 'nested-sections';

            for (var i = 0; i < sections.length; i++) {
                var section = document.getElementById(sections[i]);
                var title = section.textContent;
                var li = document.createElement('li');
                var a = document.createElement('a');
                a.href = '#' + sections[i];
                a.className = 'd-block';
                a.textContent = title;
                li.appendChild(a);
                ul.appendChild(li);
            }

            currentPageLink.parentElement.appendChild(ul);
        }

        // Add sections to the footer "Link rapidi"
        var footerLinksContainer = document.querySelector('#footer-links');
        var footerCurrentPageLink = document.querySelector('#footer-links a[href="' + window.location.pathname + '"]');
        if (footerCurrentPageLink) {
            var ul = document.createElement('ul');
            ul.className = 'list-unstyled ms-3';

            for (var i = 0; i < sections.length; i++) {
                var section = document.getElementById(sections[i]);
                var title = section.textContent;
                var li = document.createElement('li');
                var a = document.createElement('a');
                a.href = '#' + sections[i];
                a.className = 'text-decoration-none';
                a.textContent = title;
                li.appendChild(a);
                ul.appendChild(li);
            }

            footerCurrentPageLink.appendChild(ul);
        }
    });
</script>
{% endblock %}

{% block style %}
<style>


    .component-container {
        overflow: hidden;
        position: relative;
    }

    .component-container img {
        transition: filter 0.3s ease-in-out;
    }

    .component-detail {
        position: absolute;
        top: 0;
        right: -100%;
        width: 75%;
        height: 100%;
        padding: 15px;
        transition: right 0.3s ease-in-out, opacity 0.3s ease-in-out;
        opacity: 0;
        overflow-y: auto;
        /* Make the panel scrollable */
        max-height: 100%;
        /* Set a maximum height */
    }

    html[data-bs-theme="dark"] .component-detail {
        background: #343a40c9;
    }

    html[data-bs-theme="light"] .component-detail {
        background: #e1e1e1c9;
    }

    .component-container {
        margin-bottom: 20px;
    }

    .component-container:hover img {
        filter: blur(5px);
    }

    .component-container:hover .component-detail {
        right: 0;
        opacity: 1;
    }

    .component-container.active .component-detail {
        right: 0;
        opacity: 1;
    }

    /* Responsive design */
    @media (max-width: 768px) {
        .component-detail {
            width: 100%;
            /* Full width on smaller screens */
        }
    }

        /* Responsive design */
    @media (max-width: 1100px) {
        canvas{
            aspect-ratio: 16/9;
            max-width: 100%;
        }
    }

    @media (min-width: 1100px) {
        canvas{
        aspect-ratio: 5 / 10;
        height: 100%;
        max-height: 600px;
        max-width: 30%;
        }
    }
</style
</style>
{% endblock %}

{% block content %}
<!-- Welcoming users -->
<div class="py-5 boxino border border-3">
    <div class="sponsor d-flex align-items-center">
        <div class="order-1">
            <h1 class="display-4 bold" id="sez1">Aria Connect</h1>
            <p class="lead italic">Monitoraggio della qualità dell'aria da remoto con uno zaino intelligente.</p>
            <p>
                "Aria Connect" è un innovativo progetto di monitoraggio dell'aria da remoto, ideato e realizzato da un
                gruppo di giovani talentuosi dell'Istituto B. Castelli di Brescia. Al centro di questo progetto c'è uno
                zaino smart, che, al suo interno, contiene una stazione mobile di rilevazione dei parametri della
                qualità
                dell'aria alimentata tramite un piccolo pannello fotovoltaico. Questo zaino intelligente è progettato
                per rilevare in tempo reale vari indicatori
                dell'inquinamento atmosferico e trasmetterli a un server centrale.
            </p>
            <p>
                Il collegamento principale avviene tramite moduli radio a 900 MHz, che consentono una trasmissione
                affidabile
                dei dati fino a una distanza di 5 km. I dati raccolti vengono quindi pubblicati su un server cloud,
                rendendoli accessibili a chiunque desideri consultarli attraverso questo sito INTERNET.
            </p>
            <p>
                In caso di mancato funzionamento del collegamento principale, entra in gioco un sistema di backup basato
                su
                connettività Wi-Fi, garantendo la continuità della trasmissione dei dati. Questo sistema ibrido assicura
                che
                i dati sulla qualità dell'aria siano sempre disponibili, contribuendo così a una maggiore consapevolezza
                e
                controllo della qualità dell'aria nelle nostre comunità. Per garantire l'attendibilità dei dati
                acquisiti sono state effettuate misure di confronto con il nostro prototipo presso la centralina
                dell'ARPA situata presso Piazza Loggia a Brescia, dimostrando un ottimo accordo.
            </p>
            <p>Tutta la documentazione sulla realizzazione del progetto è disponibile <a
                    href="{{ url_for('documentation') }}">qui</a> e potrà essere utilizzata da altre scuole tecniche per
                riprodurlo o potrà essere fornito dalla nostra scuola su richiesta. I dati raccolti dagli studenti dalle
                varie scuole nei loro dintorni saranno caricati sul sito per confronto.</p>
            <p>
                "Aria Connect" rappresenta un passo significativo verso l'uso della tecnologia per migliorare la nostra
                comprensione dell'ambiente e promuovere la salute pubblica.
            </p>
            <p>Con questo progetto, speriamo di ispirare altre istituzioni educative e comunità a prendere iniziative
                simili per monitorare e migliorare la qualità dell'aria che respiriamo.</p>

        </div>
        <video autoplay loop muted class="img-right img-biggestimg rounded">
            <source src="{{ url_for('static', filename='img/Progetto_Quadrato.mp4') }}" type="video/mp4">
            Il tuo browser non supporta la riproduzione di video.
        </video>
    </div>
</div>

<!-- Horizontal Line -->
<hr class="my-4">

<!-- Originality -->
<div class="py-5 boxino border border-3">
    <h2 class="text-center mb-4 bold" id="sez2">Perché questo progetto è originale?</h2>

    <!-- Aspect 1 -->
    <div class="sponsor d-flex align-items-center" id="sponsor1">
        <img src="{{ url_for('static', filename='img/Logo_Placeholder.png') }}" alt="Placeholder"
            class="img-left img-bigimg img-addbg rounded">
        <div class="order-1">
            <h3 class="bold">Aspetto 1</h3>
            <p>Testo</p>
        </div>
    </div>

    <hr class="my-2">

    <!-- Aspect 2 -->
    <div class="sponsor d-flex align-items-center" id="sponsor2">
        <div class="order-1">
            <h3 class="bold">Aspetto 2</h3>
            <p>Testo</p>
        </div>
        <img src="{{ url_for('static', filename='img/Logo_Placeholder.png') }}" alt="Placeholder"
            class="img-right img-bigimg img-addbg rounded">
    </div>

    <hr class="my-2">

    <!-- Aspect 3 -->
    <div class="sponsor d-flex align-items-center" id="sponsor3">
        <img src="{{ url_for('static', filename='img/Logo_Placeholder.png') }}" alt="Placeholder"
            class="img-left img-bigimg img-addbg rounded">
        <div class="order-1">
            <h3 class="bold">Aspetto 3</h3>
            <p>Testo</p>
        </div>
    </div>

    <hr class="my-2">

    <!-- Aspect 4 -->
    <div class="sponsor d-flex align-items-center" id="sponsor4">
        <div class="order-1">
            <h3 class="bold">Aspetto 4</h3>
            <p>Testo</p>
        </div>
        <img src="{{ url_for('static', filename='img/Logo_Placeholder.png') }}" alt="Placeholder"
            class="img-right img-bigimg img-addbg rounded">
    </div>

    <hr class="my-2">

    <!-- Aspect 5 -->
    <div class="sponsor d-flex align-items-center" id="sponsor5">
        <img src="{{ url_for('static', filename='img/Logo_Placeholder.png') }}" alt="Placeholder"
            class="img-left img-bigimg img-addbg rounded">
        <div class="order-1">
            <h3 class="bold">Aspetto 5</h3>
            <p>Testo</p>
        </div>
    </div>

    <hr class="my-2">

    <!-- Aspect 6 -->
    <div class="sponsor d-flex align-items-center" id="sponsor6">
        <div class="order-1">
            <h3 class="bold">Aspetto 6</h3>
            <p>Testo</p>
        </div>
        <img src="{{ url_for('static', filename='img/Logo_Placeholder.png') }}" alt="Placeholder"
            class="img-right img-bigimg img-addbg rounded">
    </div>
</div>

<!-- Horizontal Line -->
<hr class="my-4">

<!-- Impatto sociale -->
<div class="py-5 boxino border border-3">
    <h2 class="text-center mb-4 bold" id="sez3">Impatto sociale</h2>

    <!-- Aspect 1 -->
    <div class="sponsor d-flex align-items-center" id="sponsor1">
        <img src="{{ url_for('static', filename='img/Logo_Placeholder.png') }}" alt="Placeholder"
            class="img-left img-bigimg img-addbg rounded">
        <div class="order-1">
            <h3 class="bold">Aspetto 1</h3>
            <p>Testo</p>
        </div>
    </div>

    <hr class="my-2">

    <!-- Aspect 2 -->
    <div class="sponsor d-flex align-items-center" id="sponsor2">
        <div class="order-1">
            <h3 class="bold">Aspetto 2</h3>
            <p>Testo</p>
        </div>
        <img src="{{ url_for('static', filename='img/Logo_Placeholder.png') }}" alt="Placeholder"
            class="img-right img-bigimg img-addbg rounded">
    </div>

    <hr class="my-2">

    <!-- Aspect 3 -->
    <div class="sponsor d-flex align-items-center" id="sponsor3">
        <img src="{{ url_for('static', filename='img/Logo_Placeholder.png') }}" alt="Placeholder"
            class="img-left img-bigimg img-addbg rounded">
        <div class="order-1">
            <h3 class="bold">Aspetto 3</h3>
            <p>Testo</p>
        </div>
    </div>

    <hr class="my-2">

    <!-- Aspect 4 -->
    <div class="sponsor d-flex align-items-center" id="sponsor4">
        <div class="order-1">
            <h3 class="bold">Aspetto 4</h3>
            <p>Testo</p>
        </div>
        <img src="{{ url_for('static', filename='img/Logo_Placeholder.png') }}" alt="Placeholder"
            class="img-right img-bigimg img-addbg rounded">
    </div>

    <hr class="my-2">

    <!-- Aspect 5 -->
    <div class="sponsor d-flex align-items-center" id="sponsor5">
        <img src="{{ url_for('static', filename='img/Logo_Placeholder.png') }}" alt="Placeholder"
            class="img-left img-bigimg img-addbg rounded">
        <div class="order-1">
            <h3 class="bold">Aspetto 5</h3>
            <p>Testo</p>
        </div>
    </div>

    <hr class="my-2">

    <!-- Aspect 6 -->
    <div class="sponsor d-flex align-items-center" id="sponsor6">
        <div class="order-1">
            <h3 class="bold">Aspetto 6</h3>
            <p>Testo</p>
        </div>
        <img src="{{ url_for('static', filename='img/Logo_Placeholder.png') }}" alt="Placeholder"
            class="img-right img-bigimg img-addbg rounded">
    </div>
</div>

<!-- Our Team -->
{% include 'layout_team.html' %}
{% endblock %}