{% extends "layout.html" %}

{% block title %}Il progetto{% endblock %}

{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var components = document.querySelectorAll('.component-container');

        Array.prototype.forEach.call(components, function (component) {
            component.addEventListener('touchstart', function () {
                // Toggle the 'active' class on touch
                if (component.classList.contains('active')) {
                    component.classList.remove('active');
                } else {
                    component.classList.add('active');
                }
            });
        });

        var offCanvas = document.getElementById('offcanvasSidebar');
        // Obtain the sections, sections' titles from the page and add them to the offcanvas
        var sections = ['sez1', 'sez2', 'sez3', 'sezTeam'];
        var currentPageLink = document.querySelector('.offcanvas a[href="' + window.location.pathname + '"]');

        if (currentPageLink) {
            var ul = document.createElement('ul');
            ul.className = 'nested-sections';

            for (var i = 0; i < sections.length; i++) {
                var section = document.getElementById(sections[i]);
                var title = section.textContent;
                var li = document.createElement('li');
                var a = document.createElement('a');
                a.href = '#' + sections[i];
                a.className = 'd-block';
                a.textContent = title;
                li.appendChild(a);
                ul.appendChild(li);
            }

            currentPageLink.parentElement.appendChild(ul);
        }

        // Add sections to the footer "Link rapidi"
        var footerLinksContainer = document.querySelector('#footer-links');
        var footerCurrentPageLink = document.querySelector('#footer-links a[href="' + window.location.pathname + '"]');
        if (footerCurrentPageLink) {
            var ul = document.createElement('ul');
            ul.className = 'list-unstyled ms-3';

            for (var i = 0; i < sections.length; i++) {
                var section = document.getElementById(sections[i]);
                var title = section.textContent;
                var li = document.createElement('li');
                var a = document.createElement('a');
                a.href = '#' + sections[i];
                a.className = 'text-decoration-none';
                a.textContent = title;
                li.appendChild(a);
                ul.appendChild(li);
            }

            footerCurrentPageLink.appendChild(ul);
        }
    });
</script>
{% endblock %}

{% block style %}
<style>
    .component-container {
        overflow: hidden;
        position: relative;
    }

    .component-container img {
        transition: filter 0.3s ease-in-out;
    }

    .component-detail {
        position: absolute;
        top: 0;
        right: -100%;
        width: 75%;
        height: 100%;
        padding: 15px;
        transition: right 0.3s ease-in-out, opacity 0.3s ease-in-out;
        opacity: 0;
        overflow-y: auto;
        /* Make the panel scrollable */
        max-height: 100%;
        /* Set a maximum height */
    }

    html[data-bs-theme="dark"] .component-detail {
        background: #343a40c9;
    }

    html[data-bs-theme="light"] .component-detail {
        background: #e1e1e1c9;
    }

    .component-container {
        margin-bottom: 20px;
    }

    .component-container:hover img {
        filter: blur(5px);
    }

    .component-container:hover .component-detail {
        right: 0;
        opacity: 1;
    }

    .component-container.active .component-detail {
        right: 0;
        opacity: 1;
    }

    /* Responsive design */
    @media (max-width: 768px) {
        .component-detail {
            /* Full width on smaller screens */
            width: 100%;
        }
    }
</style>
{% endblock %}

{% block content %}
<!-- Welcoming users -->
<div class="py-5 boxino border border-3">
    <div class="sponsor d-flex align-items-center">
        <div class="order-0 infoProgetto">
            <h1 class="display-4 bold" id="sez1">Aria Connect</h1>
            <p class="lead italic">Monitoraggio della qualità dell'aria da remoto con uno zaino intelligente.</p>
            <p>
                "Aria Connect" è un innovativo progetto di monitoraggio dell'aria da remoto, ideato e realizzato da un
                gruppo di giovani talentuosi dell'Istituto B. Castelli di Brescia. Al centro di questo progetto c'è uno
                zaino smart, che, al suo interno, contiene una stazione mobile di rilevazione dei parametri della
                qualità
                dell'aria alimentata tramite un piccolo pannello fotovoltaico. Questo zaino intelligente è progettato
                per rilevare in tempo reale vari indicatori
                dell'inquinamento atmosferico e trasmetterli a un server centrale.
            </p>
            <p>
                Il collegamento principale avviene tramite moduli radio a 900 MHz, che consentono una trasmissione
                affidabile
                dei dati fino a una distanza di 5 km. I dati raccolti vengono quindi pubblicati su un server cloud,
                rendendoli accessibili a chiunque desideri consultarli attraverso questo sito INTERNET.
            </p>
            <p>
                In caso di mancato funzionamento del collegamento principale, entra in gioco un sistema di backup basato
                su
                connettività Wi-Fi, garantendo la continuità della trasmissione dei dati. Questo sistema ibrido assicura
                che
                i dati sulla qualità dell'aria siano sempre disponibili, contribuendo così a una maggiore consapevolezza
                e
                controllo della qualità dell'aria nelle nostre comunità. Per garantire l'attendibilità dei dati
                acquisiti sono state effettuate misure di confronto con il nostro prototipo presso la centralina
                dell'ARPA situata presso Piazza Loggia a Brescia, dimostrando un ottimo accordo.
            </p>
            <p>Tutta la documentazione sulla realizzazione del progetto è disponibile <a
                    href="{{ url_for('documentation') }}">qui</a> e potrà essere utilizzata da altre scuole tecniche per
                riprodurlo o potrà essere fornito dalla nostra scuola su richiesta. I dati raccolti dagli studenti dalle
                varie scuole nei loro dintorni saranno caricati sul sito per confronto.</p>
            <p>
                "Aria Connect" rappresenta un passo significativo verso l'uso della tecnologia per migliorare la nostra
                comprensione dell'ambiente e promuovere la salute pubblica.
            </p>
            <p>Con questo progetto, speriamo di ispirare altre istituzioni educative e comunità a prendere iniziative
                simili per monitorare e migliorare la qualità dell'aria che respiriamo.</p>

        </div>
        {% include 'layout_zaino.html' %}
    </div>
</div>

<!-- Horizontal Line -->
<hr class="my-4" id="carouselSectionHR">

<!-- Carosello di foto del progetto -->
<div class="py-5 boxino border border-3" id="carouselSection">
    <div class="sponsor">
        <h2 class="text-center mb-4 bold" id="sez2">Galleria fotografica</h2>
        <div id="carousel" class="carousel slide" data-bs-ride="carousel" data-bs-touch="true">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{ url_for('static', filename='img/Carousel/Carousel1.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='img/Carousel/Carousel2.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='img/Carousel/Carousel3.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='img/Carousel/Carousel4.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='img/Carousel/Carousel5.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <!-- Altre immagini -->
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Precedente</span>                
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Successivo</span>
            </button>
        </div>
    </div>
</div>

<!-- Horizontal Line -->
<hr class="my-4">

<!-- Originality -->
<div class="py-5 boxino border border-3">
    <h2 class="text-center mb-4 bold" id="sez3">Perché questo progetto è originale?</h2>

    <!-- Aspect 1 -->
    <div class="sponsor d-flex align-items-center" id="sponsor1">
        <img src="{{ url_for('static', filename='img/orig1.jpeg') }}"
            class="img-left rounded">
        <div class="order-1">
            <h3 class="bold">Integrazione di Tecnologia e Mobilità</h3>
            <p>Il progetto utilizza uno zaino intelligente come veicolo mobile per la stazione di monitoraggio dell'aria, combinando la praticità del trasporto con la tecnologia avanzata. Questa soluzione permette di raccogliere dati in tempo reale da diverse località anche difficilmente raggiungibili, rendendo il monitoraggio dell'aria più dinamico e versatile.</p>
        </div>
    </div>

    <hr class="my-2">

    <!-- Aspect 2 -->
    <div class="sponsor d-flex align-items-center" id="sponsor2">
        <div class="order-1">
            <h3 class="bold">Accesso ai Dati tramite Cloud</h3>
            <p>La pubblicazione dei dati su un server Cloud permette una facile accessibilità e consultazione da parte di chiunque, promuovendo la trasparenza e la diffusione delle informazioni. Questa scelta tecnologica facilita anche la collaborazione tra diverse scuole e comunità.</p>
        </div>
        <img src="{{ url_for('static', filename='img/orig2.jpeg') }}"
            class="img-right rounded">
    </div>

    <hr class="my-2">

    <!-- Aspect 3 -->
    <div class="sponsor d-flex align-items-center" id="sponsor3">
        <img src="{{ url_for('static', filename='img/orig3.jpeg') }}"
            class="img-left rounded">
        <div class="order-1">
            <h3 class="bold">Partecipazione e Collaborazione Educativa</h3>
            <p>Coinvolgere le scuole nella raccolta e confronto dei dati crea una rete di collaborazione educativa, stimolando l'interesse degli studenti verso la tecnologia e l'ambiente. Questo approccio favorisce l'apprendimento pratico e la consapevolezza ambientale.</p>
        </div>
    </div>

    <hr class="my-2">

    <!-- Aspect 4 -->
    <div class="sponsor d-flex align-items-center" id="sponsor4">
        <div class="order-1">
            <h3 class="bold">Documentazione e Replicabilità</h3>
            <p>La fornitura di documentazione dettagliata attraverso il sito INTERNET del progetto consente ad altre scuole e istituzioni di replicare e adattare il sistema. Questo aspetto promuove l'adozione di pratiche simili e amplifica l'impatto del progetto.</p>
        </div>
        <img src="{{ url_for('static', filename='img/orig4.jpeg') }}"
            class="img-right rounded">
    </div>

    <hr class="my-2">

    <!-- Aspect 5 -->
    <div class="sponsor d-flex align-items-center" id="sponsor5">
        <img src="{{ url_for('static', filename='img/orig5.jpeg') }}"
            class="img-left rounded">
        <div class="order-1">
            <h3 class="bold">Focus sulle Competenze Green</h3>
            <p>L'integrazione di competenze Green Comp nel progetto, come la gestione ambientale e l'innovazione tecnologica sostenibile, sottolinea l'impegno verso un monitoraggio ecologico e responsabile della qualità dell'aria.</p>
        </div>
    </div>

    <hr class="my-2">

    <!-- Aspect 6 -->
    <div class="sponsor d-flex align-items-center" id="sponsor6">
        <div class="order-1">
            <h3 class="bold">Approccio Innovativo alla Sensibilizzazione</h3>
            <p>L'uso di tecnologie moderne per monitorare e visualizzare i dati ambientali contribuisce a una maggiore sensibilizzazione pubblica e educativa, rendendo il tema della qualità dell'aria più accessibile e coinvolgente per le comunità.</p>
        </div>
        <img src="{{ url_for('static', filename='img/orig6.jpeg') }}"
            class="img-right rounded">
    </div>
</div>

<!-- Horizontal Line -->
<hr class="my-4">

<!-- Impatto sociale -->
<div class="py-5 boxino border border-3">
    <h2 class="text-center mb-4 bold" id="sez3">Impatto sociale</h2>

    <!-- Aspect 1 -->
    <div class="sponsor d-flex align-items-center" id="sponsor1">
        <img src="{{ url_for('static', filename='img/imp1.jpg') }}"
            class="img-left rounded">
        <div class="order-1">
            <h3 class="bold">Sensibilizzazione Ambientale</h3>
            <p>"ARIA Connect" contribuisce a una maggiore consapevolezza riguardo alla qualità dell'aria e ai suoi effetti sulla salute pubblica. I dati raccolti e pubblicati accessibili al pubblico aiutano a informare i cittadini sui livelli di inquinamento atmosferico e promuovono comportamenti più responsabili verso l'ambiente.</p>
        </div>
    </div>

    <hr class="my-2">

    <!-- Aspect 2 -->
    <div class="sponsor d-flex align-items-center" id="sponsor2">
        <div class="order-1">
            <h3 class="bold">Cittadinanza Attiva</h3>
            <p>Il progetto incoraggia la partecipazione attiva degli studenti e delle scuole nella raccolta e analisi dei dati sulla qualità dell'aria. Coinvolgendo le comunità educative nel monitoraggio ambientale, "ARIA Connect" promuove un senso di responsabilità civica e incoraggia i giovani a diventare cittadini più consapevoli e impegnati nella tutela dell'ambiente.</p>
        </div>
        <img src="{{ url_for('static', filename='img/imp2.jpg') }}"
            class="img-right rounded">
    </div>

    <hr class="my-2">

    <!-- Aspect 3 -->
    <div class="sponsor d-flex align-items-center" id="sponsor3">
        <img src="{{ url_for('static', filename='img/imp3.jpg') }}"
            class="img-left rounded">
        <div class="order-1">
            <h3 class="bold">Educazione e Formazione</h3>
            <p>Attraverso l'implementazione e l'uso dello zaino intelligente, gli studenti acquisiscono competenze pratiche in scienze ambientali, tecnologia e ingegneria. Questo approccio educativo stimola l'interesse per le STEM (scienze, tecnologia, ingegneria e matematica) e prepara i giovani a carriere future in campi legati all'ambiente e alla sostenibilità.</p>
        </div>
    </div>

    <hr class="my-2">

    <!-- Aspect 4 -->
    <div class="sponsor d-flex align-items-center" id="sponsor4">
        <div class="order-1">
            <h3 class="bold">Collaborazione e Comunità</h3>
            <p>Il progetto facilita la collaborazione tra diverse scuole e comunità, creando una rete di monitoraggio condivisa. Questa cooperazione non solo amplifica l'impatto del progetto, ma promuove anche un senso di comunità e di azione collettiva per il miglioramento della qualità dell'aria.</p>
        </div>
        <img src="{{ url_for('static', filename='img/imp4.jpg') }}"
            class="img-right rounded">
    </div>

    <hr class="my-2">

    <!-- Aspect 5 -->
    <div class="sponsor d-flex align-items-center" id="sponsor5">
        <img src="{{ url_for('static', filename='img/imp5.jpg') }}"
            class="img-left rounded">
        <div class="order-1">
            <h3 class="bold">Trasparenza e Accessibilità</h3>
            <p>La pubblicazione dei dati su un server Cloud rende le informazioni sulla qualità dell'aria facilmente accessibili a tutti. Questa trasparenza contribuisce a una gestione più informata e partecipativa dei problemi ambientali, permettendo ai cittadini di prendere decisioni più consapevoli riguardo alla loro salute e al loro ambiente.</p>
        </div>
    </div>

    <hr class="my-2">

    <!-- Aspect 6 -->
    <div class="sponsor d-flex align-items-center" id="sponsor6">
        <div class="order-1">
            <h3 class="bold">Innovazione Sociale</h3>
            <p>"ARIA Connect" dimostra come l'innovazione tecnologica possa essere utilizzata per affrontare sfide sociali e ambientali. La combinazione di tecnologie avanzate e partecipazione comunitaria rappresenta un modello di come la tecnologia possa essere integrata nella vita quotidiana per migliorare il benessere collettivo.</p>
        </div>
        <img src="{{ url_for('static', filename='img/imp6.jpg') }}"
            class="img-right rounded">
    </div>

    <hr class="my-2">

    <!-- Aspect 7 -->
    <div class="sponsor d-flex align-items-center" id="sponsor7">
        <img src="{{ url_for('static', filename='img/imp7.jpg') }}"
            class="img-left rounded">
        <div class="order-1">
            <h3 class="bold">Promozione della Sostenibilità</h3>
            <p>Il progetto enfatizza l'importanza della sostenibilità ambientale attraverso l'uso di tecnologie verdi e pratiche ecologiche. Educando i cittadini e promuovendo l'adozione di soluzioni tecnologiche sostenibili, "ARIA Connect" contribuisce a una cultura di rispetto e protezione dell'ambiente.</p>
        </div>
    </div>
</div>

<!-- Horizontal Line -->
<hr class="my-4">

<!-- Our Team -->
{% include 'layout_team.html' %}
{% endblock %}